extends ../layouts/default

block content
	//- Dynamic Slider from the database
	#myCarousel.carousel.slide(data-ride='carousel')
		//- Carousel indicators were declared here
		ol.carousel-indicators
			each image in slider
				//- if image.order is equal to 0 the first indicator will have a class 'active'
				//- else it will not have a class 'active'
				if image.order == "0"
					li(data-target="#myCarousel" data-slide-to='#{image.order}' class="active")
				else 
					li(data-target="#myCarousel" data-slide-to='#{image.order}')

		//- Carousel proper - the images will be loop in the slider queried from the controller
		div(class="carousel-inner" role="listbox")
			each image in slider
				//- if image.order is equal to 0 the first indicator will have a class 'active'
				//- else it will not have a class 'active'
				if image.order == "0"
					div(class="item active")
						img(src='images/fiesta_banner.png')
						div(class="container")
							div(class="carousel-caption")
								!= image.caption
								if image.buttonText != ""
									a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
				else 
					div(class="item")
						//- img(class="first-slide" src="/images/slider/1.jpg" alt="First slide")
						img(src=image._.heroImage.limit(1020,500))
						div(class="container")
							div(class="carousel-caption" style="text-align: right")
								h2= image.caption
								if image.buttonText != ""
									a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
			
			//- left amd right arrows
			//- a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			//-   span.glyphicon.glyphicon-chevron-left
			//- a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			//-   span.glyphicon.glyphicon-chevron-right


	.container: .row
		.col-md-12
			center 
				h2 FIESTA
				h4 Showcase of the best outputs in agriculture and aquatic research and development
			center 
				h2 On-going Fiesta
			div.slick-slider
				div
					center 
						a#pop(href="/sipag-fiesta")
							img( src="/images/exhibit/sipagfiesta.png" id="imageresource" height="250px")
				div
					center 
						img( src="/images/exhibit/knifefish.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/mango.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/bigeyelet.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/cacao.jpg" height="250px")    
		//- .col-md-3
		//- 	center
		//- 		h2 Upcoming Exhibits
				
		//- 		mixin item(title, content)
		//- 			a.list-group-item(href="#")
		//- 				h4.list-group-item-heading #{title}
		//- 				p.list-group-item-text #{content}

		//- 		div.list-group
		//- 			+item("FIESTA Abaca", "Feb 25, 2017")
		//- 			+item("Coconut FIESTA", "Mar 4, 2017")
		//- 			+item("SARAI Exhibit", "Mar 11, 2017")
		//- 			+item("SIPAG Fiesta", "Mar 30, 2017")
	.container: .row
		.col-md-12
			center 
				h2 Upcoming Fiesta
			div.slick-slider
				div
					center 
						a#pop(href="/sipag-fiesta")
							img( src="/images/exhibit/sipagfiesta.png" id="imageresource" height="250px")
				div(style="margin-right:0px")
					center 
						img( src="/images/exhibit/knifefish.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/mango.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/bigeyelet.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/cacao.jpg" height="250px")
	.container: .row
		.col-md-12
			center 
				h2 Past Fiesta
			div.slick-slider
				div
					center 
						a#pop(href="/sipag-fiesta")
							img( src="/images/exhibit/sipagfiesta.png" id="imageresource" height="250px")
				div
					center 
						img( src="/images/exhibit/knifefish.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/mango.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/bigeyelet.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/cacao.jpg" height="250px") 


	div(class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		div.modal-dialog(role="document")
			div.modal-content
				div.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h5.modal-title SIPAG FIESTA
					
				div.modal-body
					center
						img( src="" id="imagepreview" height="200px")
						p
						h4 Commodity: ALL
						h4 Date: March 2, 2016 - March 4, 2016
						h4 Venue: PCAARRD Complex
				
				div.modal-footer
					button(type="button" class="btn btn-success" data-dismiss="modal") View More
					button(type="button" class="btn btn-default" data-dismiss="modal") Close

	div(style='float:right; z-index:100; right:0px; top:100px; background-color:#EEE; width:40;height:40; padding:6px; position: fixed; border-radius:20px;')
		a(href='#')
			img( src="/images/community.png" height="30px")

	div(style='float:right; z-index:100; right:0px; top:150px;  position: fixed; ')
		form.search-form(action='')
			.form-group.has-feedback
				label.sr-only(for='search') Search
				input#search.form-control(type='text', name='search', placeholder='Search')
				span.glyphicon.glyphicon-search.form-control-feedback