extends ../layouts/default

block content
	//- Dynamic Slider from the database
	#myCarousel.carousel.slide(data-ride='carousel')
		//- Carousel indicators were declared here
		ol.carousel-indicators
			each image in slider
				//- if image.order is equal to 0 the first indicator will have a class 'active'
				//- else it will not have a class 'active'
				if image.order == "0"
					li(data-target="#myCarousel" data-slide-to='#{image.order}' class="active")
				else 
					li(data-target="#myCarousel" data-slide-to='#{image.order}')

		//- Carousel proper - the images will be loop in the slider queried from the controller
		div(class="carousel-inner" role="listbox")
			each image in slider
				//- if image.order is equal to 0 the first indicator will have a class 'active'
				//- else it will not have a class 'active'
				if image.order == "0"
					div(class="item active")
						img(src=image._.heroImage.limit(1020,500))
						div(class="container")
							div(class="carousel-caption")
								!= image.caption
								if image.buttonText != ""
									a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
				else 
					div(class="item")
						//- img(class="first-slide" src="/images/slider/1.jpg" alt="First slide")
						img(src=image._.heroImage.limit(1020,500))
						div(class="container")
							div(class="carousel-caption" style="text-align: right")
								h2= image.caption
								if image.buttonText != ""
									a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
			
			//- left amd right arrows
			//- a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			//-   span.glyphicon.glyphicon-chevron-left
			//- a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			//-   span.glyphicon.glyphicon-chevron-right

	div(style='float:right; z-index:100; right:0px; top:100px; background-color:#EEE; width:40;height:40; padding:6px; position: fixed; border-radius:20px;')
		a(href='#', title="Community")
			img( src="/images/community.png" height="30px")

	div(style='float:right; z-index:100; right:0px; top:150px;  position: fixed; ')
		form.search-form(action='')
			.form-group.has-feedback
				label.sr-only(for='search') Search
				input#search.form-control(type='text', name='search', placeholder='Search')
				span.glyphicon.glyphicon-search.form-control-feedback


	div#exhibit-slider
		.exhibit-container
			p.subparts-title(style='background-color: rgba(0, 0, 0, 0.5); z-index: 5; color: white; font-size: 2em; margin-bottom: 10px;')
				b F
				| arm and 
				b I
				| ndustry 
				b E
				| ncounters through 
				b S
				| cience and 
				b T
				| echnology 
				b A
				| genda
			#content-current.exhibit-content
				img#main-img(src='/images/exhibit/exhibit_1.png')
				.thumbnails
					img#exhibit_1.thumbnail-content.current-img(src='/images/exhibit/exhibit_1.png')
					img#exhibit_2.thumbnail-content(src='/images/exhibit/exhibit_2.png')
					img#exhibit_3.thumbnail-content(src='/images/exhibit/exhibit_3.png')
					img#exhibit_4.thumbnail-content(src='/images/exhibit/exhibit_4.png')
			#content-text.exhibit-content
				p#event-title
					b SIPAG FIESTA: Best of 2010-2016
				p#event-text
					em Pushing the Best of SIPAG through FIESTA
					|  showcased the outputs from the various Strategic Industry S&T Programs for Agri-Aqua Growth(SIPAG) conducted by R&D partners in 13 regions of the country.
					|                        Among the outputs were on food delicacies, processed food products, wines, grains, fruits, vegetables, furniture and even clothes— goods that complement a true fiesta celebration.
					hr
				.btn-see-more
					#btn-see-more-inner
						a
							h5
								b
									| SEE MORE

	div.container#exhibit-lists
		h2 DOST PCAARRD FIESTA
		.row
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_1.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_2.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_3.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere

			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_4.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_5.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_6.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
