extends ../layouts/default

block content
	//- Dynamic Slider from the database
	#top-page(style="margin-bottom:40px;").container.no-padding
		#myCarousel.carousel.slide(data-ride='carousel')
			//- Carousel indicators were declared here
			ol.carousel-indicators
				each image in posts
					//- if image.order is equal to 0 the first indicator will have a class 'active'
					//- else it will not have a class 'active'
					if image.order == "0"
						li(data-target="#myCarousel" data-slide-to='#{image.order}' class="active")
					else
						li(data-target="#myCarousel" data-slide-to='#{image.order}')

			//- Carousel proper - the images will be loop in the slider queried from the controller
			div(class="carousel-inner" role="listbox")
				each image in posts
					//- if image.order is equal to 0 the first indicator will have a class 'active'
					//- else it will not have a class 'active'
					if image.order == "0"
						div(class="item active")
							img(src=image._.image.limit(1020,500))
							div(class="container")
								if image.caption
									div(class="carousel-caption")
										a(href='/blog/post/' + image.slug).news-link 
											!= image.caption
										//- i.fa.fa-newspaper-o.fa-fw
									//- if image.buttonText != ""
										a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
					else
						div(class="item")
							//- img(class="first-slide" src="/images/slider/1.jpg" alt="First slide")
							img(src=image._.image.limit(1020,500))
							div(class="container")
								if image.caption
									div(class="carousel-caption")
										a(href='/blog/post/' + image.slug).news-link 
											!= image.caption
								//- a(class="btn btn-primary more-news" href="blog") Click Here For More News


	#fiesta_block.fh5co-project-style-3.container
		.row(style="margin-bottom:1em").blue-black-seperator
			.section-title.focus.row 
				.title.col-md-5.col-xs-4
					.skew.col-xs-12
					.skewed-text #{settings.fiestaTitle}
			.col-md-12.no-padding
				strong(style="color:black") 
					!= settings.fiestaDescription
				
		.row
			each exhibit in exhibits
				.col-md-2.col-sm-6.col-xs-6.col-xxs-12.tech-item
					a.fh5co-project-item(href=exhibit.link, style='background-image: url('+exhibit.coverImage.secure_url+');', target='_blank')
						//- img.img-responsive.sr-only(src=exhibit.coverImage.secure_url)
						.fh5co-overlay(style="background-color: rgb(18, 81, 4)")
						.fh5co-text
							.tech-category #{exhibit.consortium}
							h3 #{exhibit.title}
							p Date: #{exhibit.date}
							p Venue: #{exhibit.venue}


	#fiesta_block.fh5co-project-style-3
		.container.no-padding
			.row(style="margin-bottom:1em").blue-black-seperator
				.section-title.focus.row 
					.title.col-md-5.col-xs-4
						.skew.col-xs-12
						.skewed-text #{settings.technologyTitle}
				.col-md-12.no-padding
					strong(style="color:black") 
						!= settings.technologyDescription
		.container.no-padding
			.row
				each technology in technologies
					.col-md-2.col-sm-6.col-xs-12.tech-item
						a.fh5co-project-item(href=technology.link, style='background-image: url('+technology.image.secure_url+');', target='_blank')
							.tech-icon
								if technology.category == "agriculture"
									img(src='/images/exhibit/agri.png')
								else if technology.category == "aquatic resource"
									img(src='/images/exhibit/aqua.png')
								else if technology.category == "natural resource"
									img(src='/images/exhibit/nr.png')
							.fh5co-overlay
							.fh5co-text
								.tech-category.text-uppercase #{technology.category}
								h3 #{technology.title}

	#block
		.container.no-padding
			.row(style="margin-bottom:2em").blue-black-seperator
				.section-title.focus.row 
					.title.col-md-5.col-xs-4
						.skew.col-xs-12
						.skewed-text #{settings.communityTitle}
				.col-md-12.no-padding
					strong(style="color:black") 
						!= settings.communityDescription
				.col-md-12.no-padding
					img.img-responsive(src=settings.communityBanner.secure_url)

					center(style="margin-top:1em")
						a(href=settings.communityLink, target="_blank")
							button(class="btn btn-lg btn-primary") #{settings.communityButtonText}

	#community_block
		.container
			.row
				.col-xs-12
					.row.more-information
						.col-xs-12
							.col-xs-12
								em #{settings.aboutTitle}
							.details-box.col-sm-12.col-md-12
								.col-md-6.col-sm-12.image
									a(href='#')
										img(src=settings.aboutBanner.secure_url, class="img-responsive" )
								.col-md-6.col-sm-12.description
									!= settings.aboutDescription
									
									a(target='_blank', href=settings.aboutLink, class="pull-right btn btn-primary")
										span.button #{settings.aboutButtonText}

// Piwik
script(type='text/javascript').
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
  var u="//128.199.166.120/piwik/";
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', '2']);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
// End Piwik Code
