extends ../layouts/default

block content
	#searchDiv.container(style='display:none;margin-top:85px;')
		.row
			.col-md-12
				center
					form(method="GET" action='https://pcaarrd-km.herokuapp.com')
						input#global-search-input-box(type='text', placeholder='Search news, fiesta, technologies', name='search', autofocus='')
						input.searchButton(type='submit', border='0', value='Search')
			
		
	//- Dynamic Slider from the database
	#carousel.container(style="margin-top:85px;").no-padding
		#myCarousel.carousel.slide(data-ride='carousel')
			//- Carousel indicators were declared here
			ol.carousel-indicators
				each image in slider
					//- if image.order is equal to 0 the first indicator will have a class 'active'
					//- else it will not have a class 'active'
					if image.order == "0"
						li(data-target="#myCarousel" data-slide-to='#{image.order}' class="active")
					else 
						li(data-target="#myCarousel" data-slide-to='#{image.order}')

			//- Carousel proper - the images will be loop in the slider queried from the controller
			div(class="carousel-inner" role="listbox")
				each image in slider
					//- if image.order is equal to 0 the first indicator will have a class 'active'
					//- else it will not have a class 'active'
					if image.order == "0"
						div(class="item active")
							img(src=image._.heroImage.limit(1020,500))
							div(class="container")
								div(class="carousel-caption")
									!= image.caption
									if image.buttonText != ""
										a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
					else 
						div(class="item")
							//- img(class="first-slide" src="/images/slider/1.jpg" alt="First slide")
							img(src=image._.heroImage.limit(1020,500))
							div(class="container")
								div(class="carousel-caption" style="text-align: right")
									h2= image.caption
									if image.buttonText != ""
										a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
			
			//- left amd right arrows
			//- a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			//- 	span.glyphicon.glyphicon-chevron-left
			//- a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			//- 	span.glyphicon.glyphicon-chevron-right

	ul.social-sharing.fixed
		//- li.title
			| Join
			br 
			| Us
			img.arrow(src='https://d2sh4fq2xsdeg9.cloudfront.net/application/assets/genx/images/share-arrow.png', alt='')
		
		li.community
			a(target='_blank', href='#' title="Join our community")
				img( src="/images/community.png" height="40px")

		li.facebook
			a(target='_blank', href='https://www.facebook.com/PCAARRD' title="Like us on Facebook")
				i.fa.fa-facebook
		li.twitter
			a(target='_blank', href='https://twitter.com/dostpcaarrd' title="Follow us on Twitter")
				i.fa.fa-twitter
		li.youtube
			a(target='_blank', href='https://www.youtube.com/channel/UCcrb__kJo7NCYYlbjwAGVwA' title="Subscribe on our channel")
				i.fa.fa-youtube
		li.google
			a(target='_blank', href='https://plus.google.com/+DOSTPCAARRD' title="Add us to your circle")
				i.fa.fa-google-plus
		li.newsletter
			a(href='mailto:pcaarrd@pcaarrd.dost.gov.ph' title="Email Us")
				i.fa.fa-envelope
	
	//- div(style='float:right; z-index:100; right:0px; top:100px; background-color:#EEE; width:40;height:40; padding:6px; position: fixed; border-radius:20px;')
		a(href='#')
			img( src="/images/community.png" title="Community" height="30px")

	//- .container: .row
		.col-md-9
			center 
				h2 FIESTA
				h4 Showcase of the best outputs in agriculture and aquatic research and development
			div.slick-slider
				div
					center 
						a#pop(href="#")
							img( src="/images/exhibit/sipagfiesta.png" id="imageresource" height="250px")
				div
					center 
						img( src="/images/exhibit/knifefish.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/mango.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/bigeyelet.jpg" height="250px")
				div
					center 
						img( src="/images/exhibit/cacao.jpg" height="250px")		
		.col-md-3
			center
				h2 Upcoming Exhibits
				
				mixin item(title, content)
					a.list-group-item(href="#")
						h4.list-group-item-heading #{title}
						p.list-group-item-text #{content}

				div.list-group
					+item("FIESTA Abaca", "Feb 25, 2017")
					+item("Coconut FIESTA", "Mar 4, 2017")
					+item("SARAI Exhibit", "Mar 11, 2017")
					+item("SIPAG Fiesta", "Mar 30, 2017")

	#fiesta_block.fh5co-project-style-3.container
		.row
			.col-md-12
				center
					img.img-responsive(src='/images/fiesta.jpg', alt='Image' width="1300px;" height="200px;")
		.container
			.row(style="margin-bottom:30px")
				//- .col-md-12
					center
						//- h2.fh5co-heading-fiesta FIESTA
				.col-md-12
					center
						strong
							p.fiesta(style="color:black") Celebrate our Filipino culture while promoting Science and Technology through the festivals hosted by different provinces in the country. 

		.row
			.col-md-2.col-sm-6.col-xs-6.col-xxs-12.tech-item
				a.fh5co-project-item(href='#', style='background-image: url(/images/fiesta/potato.jpg);', target='_blank')
					img.img-responsive.sr-only(src='/images/fiesta/potato.jpg')
					.fh5co-overlay(style="background-color: rgb(18, 81, 4)")
					.fh5co-text
						.tech-category CLARRDEC
						h3 Sweet Potato
						p Date: Mar 17-18, 2016
						p Venue: Tarlac College of Agriculture

			.col-md-2.col-sm-6.col-xs-6.col-xxs-12.tech-item
				a.fh5co-project-item(href='/sipag-fiesta', style='background-image: url(/images/fiesta/sipagfiesta.png);')
					img.img-responsive.sr-only(src='/images/fiesta/sipagfiesta.png')
					.fh5co-overlay(style="background-color: rgb(18, 81, 4)")
					.fh5co-text
						.tech-category PCAARRD
						h3 SIPAG FIESTA
						p Date: Mar 2-4, 2016
						p Venue: PCAARRD Complex

			.col-md-2.col-sm-6.col-xs-6.col-xxs-12.tech-item
				a.fh5co-project-item(href='#', style='background-image: url(/images/fiesta/rootcrop.jpg);', target='_blank')
					img.img-responsive.sr-only(src='/images/fiesta/rootcrop.jpg')
					.fh5co-overlay(style="background-color: rgb(18, 81, 4)")
					.fh5co-text
						.tech-category VICARP
						h3 Rootcrop
						p Date: Aug 10-11, 2015
						p Venue: Visayas State University

			.col-md-2.col-sm-6.col-xs-6.col-xxs-12.tech-item
				a.fh5co-project-item(href='', style='background-image: url(/images/fiesta/kalabaw.jpg);', target='_blank')
					img.img-responsive.sr-only(src='/images/fiesta/kalabaw.jpg')
					.fh5co-overlay(style="background-color: rgb(18, 81, 4)")
					.fh5co-text
						.tech-category CLARRDEC
						h3 Pistang Kalabaw
						p Date: Mar 25-27, 2015
						p Venue: PCC, Munoz, Nueva Ecija

			.col-md-2.col-sm-6.col-xs-6.col-xxs-12.tech-item
				a.fh5co-project-item(href='#', style='background-image: url(/images/fiesta/seaweed.jpg);', target='_blank')
					img.img-responsive.sr-only(src='/images/fiesta/seaweed.jpg')
					.fh5co-overlay(style="background-color: rgb(18, 81, 4)")
					.fh5co-text
						.tech-category SMARRDEC
						h3 Seaweed
						p Date: Nov 27-28, 2014
						p Venue: Passig Islet, Davao del Sur 

			.col-md-2.col-sm-6.col-xs-6.col-xxs-12.tech-item
				a.fh5co-project-item(href='#', style='background-image: url(/images/fiesta/sardines.jpg);', target='_blank')
					img.img-responsive.sr-only(src='/images/fiesta/sardines.jpg')
					.fh5co-overlay(style="background-color: rgb(18, 81, 4)")
					.fh5co-text
						.tech-category WESMARRDEC
						h3 Sardines
						p Date: Oct 9-10, 2014
						p Venue: Western Mindanao  State University, Zamboanga City

	//- div(class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		div.modal-dialog(role="document")
			div.modal-content
				div.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h5.modal-title SIPAG FIESTA
					
				div.modal-body
					center
						img( src="" id="imagepreview" height="200px")
						p
						h4 Commodity: ALL
						h4 Date: March 2, 2016 - March 4, 2016
						h4 Venue: PCAARRD Complex
				
				div.modal-footer
					button(type="button" class="btn btn-success" data-dismiss="modal") View More
					button(type="button" class="btn btn-default" data-dismiss="modal") Close

	

	//- div(style='float:right; z-index:100; right:0px; top:150px;  position: fixed; ')
	//- 	form.search-form(action='')
	//- 		.form-group.has-feedback
	//- 			label.sr-only(for='search') Search
	//- 			input#search.form-control(type='text', name='search', placeholder='Search')
	//- 			span.glyphicon.glyphicon-search.form-control-feedback


	#tech_block.fh5co-project-style-3
		.container.no-padding
			.row
				.col-md-12
					center
						h2.fh5co-heading Technologies
				.col-md-12
					center
						p(style="color:white") Improve your production by exploring the different technologies you can use to manage your crops and livestock.	
		.container.no-padding
			.row
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='http://www.pcaarrd.dost.gov.ph/home/portal/index.php/quick-information-dispatch/2583-new-fusarium-wilt-resistant-cavendish-passed-export-market-standards', style='background-image: url(/images/exhibit/cavendish.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/cavendish.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/agri.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Cavendish resistant to Fusarium Wilt
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='http://www.pcaarrd.dost.gov.ph/home/portal/index.php/quick-information-dispatch/2659-biofloc-technology-to-reduce-risk-of-diseases-and-enhance-nutrition-in-shrimp-farms', style='background-image: url(/images/exhibit/shrimp.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/shrimp.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/aqua.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AQUATIC RESOURCE
							h3 Shrimp biofloc technology
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='http://www.pcaarrd.dost.gov.ph/home/portal/index.php/quick-information-dispatch/2673-carrageenan-boosts-rice-production', style='background-image: url(/images/exhibit/cpgr.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/cpgr.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/aqua.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AQUATIC RESOURCE
							h3 Carrageenan Plant Growth Regulator (CPGR)
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='http://www.pcaarrd.dost.gov.ph/home/portal/index.php/quick-information-dispatch/2581-somatic-embryogenesis-a-promising-technology-to-mass-propagate-coconut', style='background-image: url(/images/exhibit/coco.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/coco.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/agri.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Coconut Somatic Embryogenesis
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='http://www.pcaarrd.dost.gov.ph/home/portal/index.php/quick-information-dispatch/2664-restoring-the-country-s-coral-reefs-through-filipinnovation', style='background-image: url(/images/exhibit/coral.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/coral.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/aqua.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Corals asexual reproduction
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='http://www.pcaarrd.dost.gov.ph/home/portal/index.php/quick-information-dispatch/2666-sarai-smarter-moves-for-a-competitive-agriculture', style='background-color:yellow;padding-top:50%;', target='_blank')
						h2(style='color: darkgreen;font-weight: bold;') Smarter Agriculture
						.tech-icon
							img(src='/images/exhibit/nr.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category NATURAL RESOURCE
							h4 | Smarter Approaches to Reinvigorate Agriculture as an Industry in the Philippines (SARAI)
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='http://www.pcaarrd.dost.gov.ph/home/portal/index.php/quick-information-dispatch/2676-swine-genomics-to-help-improve-the-industry-s-productivity', style='background-image: url(/images/exhibit/pigs.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/pigs.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/agri.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Swine genomics
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/abaca.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/abaca.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/agri.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Adding higher value to abaca
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/bamboo.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/bamboo.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/nr.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category NATURAL RESOURCE
							h3 Bamboo: rgb(18, 81, 4) gold from the forests
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/tilapia.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/tilapia.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/aqua.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AQUATIC RESOURCE
							h3 Tilapia farming technologies
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/coffee.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/coffee.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/agri.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Quality planting materials for a better coffee
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/peanuts.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/peanuts.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/agri.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Enhancing peanut productivity
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/bigeyelet.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/bigeyelet.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/aqua.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AQUACULTURE
							h3 Big Eyelet
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/biofloc.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/biofloc.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/nr.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category NATURAL RESOURCE
							h3 Biofloc
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/knifefish.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/knifefish.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/aqua.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AQUACULTURE
							h3 Knifefish
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/mango.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/mango.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/agri.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AGRICULTURE
							h3 Mango
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/mangrove.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/mangrove.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/nr.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category NATURAL RESOURCE
							h3 Mangrove
				.col-md-2.col-sm-6.col-xs-12.tech-item
					a.fh5co-project-item(href='#', style='background-image: url(/images/exhibit/aquaculture.jpg);', target='_blank')
						img.img-responsive.sr-only(src='/images/exhibit/aquaculture.jpg', alt='Image')
						.tech-icon
							img(src='/images/exhibit/aqua.png')
						.fh5co-overlay
						.fh5co-text
							.tech-category AQUACULTURE
							h3 Aquaculture
		//- .row.p
		//- 	.col-md-12.text-center
		//- 		p.button-link
		//- 			a.btn.btn-primary.btn-lg(href='#', style='line-height:30px')
		//- 				span(style='vertical-align:middle;') See more of our technologies
		//- 				i.icon.icon-chevron-right(style='font-size:20px;vertical-align:middle;')		
	
	#block
		.row
			.col-md-12.col-xs-12
				div(class="container" style="margin-top:30px; margin-bottom:30px")
					div(class="community-caption")
						center
							h2 Community
							h4 Join the conversation. Know more about the country’s agriculture and aquaculture natural resources. 
							a(href="#")
								button(class="btn btn-lg btn-warning") Join us by filling up this form!

	#community_block
		.container
			.row
				.col-xs-12
					.row.more-information
						.col-xs-12
							.col-xs-12
								em About DOST PCAARRD Innovation and Technology Center
							.details-box.col-sm-12.col-md-12
								.col-md-6.col-sm-12.image
									a(href='#')
										img(src='/images/community.jpg' class="img-responsive" )
								.col-md-6.col-sm-12.description
									p
										| DPITC is where DOST-PCAARRD presents, promotes and, commercializes its Science and Technology products to the public. DPITC embodies DOST-PCAARRD’s vision for a world-class ‘one-stop service facility’ where the department and council’s network of allied agencies converge and offers major information-communication services, technology transfer, commercialization services and training-capacity building.
										a(target='_blank', href='#' class="pull-right btn btn-warning")
											span.button Find out more
							//- .col-xs-12.subscribe-container
							//- 	.subscribe
							//- 		h2
							//- 			em Newsletter
							//- 			|  sign up:
							//- 		form#newsletter(target='_blank', method='get', action='#')
							//- 			input#email(name='email', type='text', placeholder="What's your email?")
							//- 			.button(onclick="document.forms['newsletter'].submit();")
							//- 				i.fa.fa-chevron-right
