extends ../layouts/default

block content
	//- Dynamic Slider from the database
	#myCarousel.carousel.slide(data-ride='carousel')
		//- Carousel indicators were declared here
		ol.carousel-indicators
			each image in slider
				//- if image.order is equal to 0 the first indicator will have a class 'active'
				//- else it will not have a class 'active'
				if image.order == "0"
					li(data-target="#myCarousel" data-slide-to='#{image.order}' class="active")
				else 
					li(data-target="#myCarousel" data-slide-to='#{image.order}')

		//- Carousel proper - the images will be loop in the slider queried from the controller
		div(class="carousel-inner" role="listbox")
			each image in slider
				//- if image.order is equal to 0 the first indicator will have a class 'active'
				//- else it will not have a class 'active'
				if image.order == "0"
					div(class="item active")
						img(src=image._.heroImage.limit(1020,500))
						div(class="container")
							div(class="carousel-caption")
								h2= image.caption
								a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
				else 
					div(class="item")
						//- img(class="first-slide" src="/images/slider/1.jpg" alt="First slide")
						img(src=image._.heroImage.limit(1020,500))
						div(class="container")
							div(class="carousel-caption")
								h2= image.caption
								a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
			
			//- left amd right arrows
			a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left
			a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
				span.glyphicon.glyphicon-chevron-right


	
	.container: .row(style="padding:5px")
		.text-center
			h2 Exhibits
			h4 Showcase of the best outputs in agriculture and aquatic research and development

		.row
			.col-sm-6
				.panel.panel-primary
					.panel-heading
						.panel-title Cacao
					.panel-body 
						img( src="/images/exhibit/cacao.jpg" height="150px" style="float: left; margin: 5px;")
						h4 Showcase of the best outputs in agriculture and aquatic research and development
						a(class="btn btn-lg btn-primary" href="#" role="button") Learn More

			.col-sm-6
				.panel.panel-primary
					.panel-heading
						.panel-title Knifefish
					.panel-body 
						img( src="/images/exhibit/knifefish.jpg" height="150px" style="float: left; margin: 5px;")
						h4 Showcase of the best outputs in agriculture and aquatic research and development
						a(class="btn btn-lg btn-primary" href="#" role="button") Learn More

			.col-sm-6
				.panel.panel-primary
					.panel-heading
						.panel-title Mangrove
					.panel-body 
						img( src="/images/exhibit/mangrove.jpg" height="150px" style="float: left; margin: 5px;")
						h4 Showcase of the best outputs in agriculture and aquatic research and development
						a(class="btn btn-lg btn-primary" href="#" role="button") Learn More

			.col-sm-6
				.panel.panel-primary
					.panel-heading
						.panel-title Big Eyelet
					.panel-body 
						img( src="/images/exhibit/bigeyelet.jpg" height="150px" style="float: left; margin: 5px;")
						h4 Showcase of the best outputs in agriculture and aquatic research and development
						a(class="btn btn-lg btn-primary" href="#" role="button") Learn More

	.jumbotron
		.container: .row
			.col-sm-6
				.h3 Pushing the Best of the Strategic Industry Science and Technology Program for Agri-Aqua Growth (SIPAG) through FIESTA
					
				.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla laboriosam cumque saepe aliquid aliquam doloremque quam, alias ipsam aperiam. Reprehenderit, dolorem!
				
				br

				a(class="btn btn-lg btn-warning" href="#" role="button") Register Now

			.col-sm-6
				<iframe src="https://www.youtube.com/embed/YBx_Ypr2g_E" width="560" height="315" frameborder="0" allowfullscreen=""></iframe>
	
	div(style="margin-top: 60px; padding-left: 10vw; padding-right: 10vw;").jumbotron.text-center
		h2 We'll handle the back end, you handle the front
		p KeystoneJS isn't opinionated about how you design or build the front-end of your site. Use jQuery, Angular, React.js with LESS, SASS or css-modules and any node.js template language.
		div We've made this demo site with Bootstrap, Jade and LESS to show how simple it can be to get going, and included some themes from <a href="https://bootswatch.com/?ref=keystonejs" target="_blank">bootswatch</a>. Try them out by selecting below:
		if themes && themes.length
			hr(style="margin-bottom: 3em; margin-top: 3em;")
			ul.nav.nav-pills
				each theme in themes
					li(class=currentTheme === theme ? 'active' : '')
						a(href='/?theme=' + theme)= theme



