
//- Unavailable Images
mixin img-na(width, height)
  img(src='http://placehold.it/'+width+'x'+height+'?text=No+Available+Image', alt='No Available Photo', width=width+'px', height=height+'px')

mixin img-na-rounded(width, height)
  img(src='http://placehold.it/'+width+'x'+height+'?text=No+Available+Image', alt='No Available Photo', width=width+'px', height=height+'px').img-rounded

mixin img-na-center(width, height)
  img(src='http://placehold.it/'+width+'x'+height+'?text=No+Available+Image', alt='No Available Photo', width=width+'px', height=height+'px').center-block

mixin img-na-rounded-center(width, height)
  img(src='http://placehold.it/'+width+'x'+height+'?text=No+Available+Image', alt='No Available Photo', width=width+'px', height=height+'px').img-rounded.center-block

mixin img-na-card-top(width, height)
  img(src='http://placehold.it/'+width+'x'+height+'?text=No+Available+Image', alt='No Available Photo', width=width+'px', height=height+'px').card-img-top

mixin img-na-rounded-media-object(width, height)
  img(src='http://placehold.it/'+width+'x'+height+'?text=No+Available+Image', alt='No Available Photo', width=width+'px', height=height+'px').img-rounded.media-object

//- Available Images
mixin img-available(src, alt, width, height)
  img(src=src, alt=alt, width=width+'px', height=height+'px')

mixin img-available-rounded(src, alt, width, height)
  img(src=src, alt=alt, width=width+'px', height=height+'px').img-rounded

mixin img-available-center(src, alt, width, height)
  img(src=src, alt=alt, width=width+'px', height=height+'px').center-block

mixin img-available-rounded-center(src, alt, width, height)
  img(src=src, alt=alt, width=width+'px', height=height+'px').img-rounded.center-block

mixin img-available-card-top(src, alt, width, height)
  img(src=src, alt=alt, width=width+'px', height=height+'px').card-img-top

mixin img-available-rounded-media-object(src, alt, width, height)
  img(src=src, alt=alt, width=width+'px', height=height+'px').img-rounded.media-object