mixin learning-object-card(learningObject, redirect)
  .card
    if learningObject.thumbnail.exists
      img.card-img-top(src=learningObject.thumbnail, alt=learningObject.title, height="150px", width="200px")
    else
      img.card-img-top(src="http://placehold.it/200x150", alt="No Available Image" , height="150px", width="200px")
    .card-block
      .card-title.truncate-text.text-primary #{learningObject.title}
      //- .meta
        +learning-object-reactions(learningObject)
      .card-text
        p.block-with-text #{learningObject.content.brief}
    .card-footer
      a.pull-right(href=redirect) Learn More

mixin course-card(course, redirect)
  .card
    if course.thumbnail.exists
      img.card-img-top(src=course.thumbnail, alt=course.title, height="150px", width="200px")
    else
      img.card-img-top(src="http://placehold.it/200x150", alt="No Available Image" , height="150px", width="200px")
    .card-block
      .card-title.truncate-text.text-primary #{course.title}
      //- .meta
      .card-text
        p.block-with-text #{course.content.brief}
    .card-footer
      a.pull-right(href=redirect) Learn More

mixin learning-object-reactions(currentLO)
  .row
    p(style='float: right') #{currentLO.sad.length} #[i.fa.fa-frown-o.fa-lg(aria-hidden="true")]
    p(style='float: right') #{currentLO.happy.length} #[i.fa.fa-smile-o.fa-lg(aria-hidden="true")]
    p(style='float: right') #{currentLO.likes.length} #[i.fa.fa-thumbs-o-up.fa-lg(aria-hidden="true")]
    