mixin user-sidenav(section)
  .panel-group(id='accordion', role='tablist', aria-multiselectable='true')
    .panel.panel-default
      .panel-heading(role='tab', id='headingProfile')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseProfile', aria-expanded='true', aria-controls='collapseProfile') Profile
      if section ==  "profile"
        .panel-collapse.collapse.in(id='collapseProfile', role='tabpanel', aria-labelledby='headingProfile')
          .list-group
            li.list-group-item
              a(href='/elearning/profile?nav=view') View Profile
            li.list-group-item
              a(href='/elearning/profile?nav=edit') Edit Profile
      else 
        .panel-collapse.collapse(id='collapseProfile', role='tabpanel', aria-labelledby='headingProfile')
          .list-group
            li.list-group-item
              a(href='/elearning/profile?nav=view') View Profile
            li.list-group-item
              a(href='/elearning/profile?nav=edit') Edit Profile

    .panel.panel-default
      .panel-heading(role='tab', id='headingUserActivity')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseUserActivity', aria-expanded='true', aria-controls='collapseUserActivity') Elearning User Activity
      if section == "user-activity"   
        .panel-collapse.collapse.in(id='collapseUserActivity', role='tabpanel', aria-labelledby='headingUserActivity')
          .list-group
            li.list-group-item
              a(href='/elearning/user-activity?nav=views') Viewed Lessons
            li.list-group-item
              a(href='/elearning/user-activity?nav=likes') Liked Lessons
            li.list-group-item
              a(href='/elearning/user-activity?nav=happy') Lessons with Happy Reacts
            li.list-group-item
              a(href='/elearning/user-activity?nav=sad') Lessons with Sad Reacts 
            li.list-group-item
              a(href='/elearning/user-activity/feedback') Feedback
      else
        .panel-collapse.collapse(id='collapseUserActivity', role='tabpanel', aria-labelledby='headingUserActivity')
          .list-group
            li.list-group-item
              a(href='/elearning/user-activity?nav=views') Viewed Lessons
            li.list-group-item
              a(href='/elearning/user-activity?nav=likes') Liked Lessons
            li.list-group-item
              a(href='/elearning/user-activity?nav=happy') Lessons with Happy Reacts
            li.list-group-item
              a(href='/elearning/user-activity?nav=sad') Lessons with Sad Reacts 
            li.list-group-item
              a(href='/elearning/user-activity/feedback') Feedback 


    if user
      if user.isAdmin || user.isElearningAdmin
        .panel.panel-default
          .panel-heading(role='tab', id='headingAdmin')
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseAdmin', aria-expanded='true', aria-controls='collapseAdmin') Admin

          if section == "admin"
            .panel-collapse.collapse.in(id='collapseAdmin', role='tabpanel', aria-labelledby='headingAdmin')
              .list-group
                li.list-group-item
                  a(href='/keystone') Keystone Admin
                li.list-group-item
                  a(href='/keystone/elearning-logs') Elearning Logs
                li.list-group-item
                  a(href='/elearning/analytics') Analytics
                //- ADD Admin Links
          else
            .panel-collapse.collapse(id='collapseAdmin', role='tabpanel', aria-labelledby='headingAdmin')
              .list-group
                li.list-group-item
                  a(href='/keystone/learning-objects') Keystone Admin
                li.list-group-item
                  a(href='/keystone/elearning-logs') Elearning Logs
                li.list-group-item
                  a(href='/elearning/analytics') Analytics
                //- ADD Admin Links

mixin paginate-page(pagination, url)
  ul.pagination.pull-right
    li
      if pagination.previous != false
        a(href=url+'&page='+pagination.previous, aria-label="Previous")
          span(aria-hidden="true") &laquo
    each page in pagination.pages
      if page == pagination.currentPage
        li.active
          a(href=url+'&page='+page) #{page}
      else
        li
          a(href=url+'&page='+page) #{page}
    li
      if pagination.next != false
        a(href=url+'&page='+pagination.next, aria-label="Next")
          span(aria-hidden="true") &raquo

mixin paginate-page-view-duration(pagination, url)
  ul.pagination.pull-right
    li
      if pagination.previous != false
        a(href=url+'&page='+pagination.previous+'&view='+viewStyle+'&duration='+duration, aria-label="Previous")
          span(aria-hidden="true") &laquo
    each page in pagination.pages
      if page == pagination.currentPage
        li.active
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration) #{page}
      else
        li
          a(href=url+'&view=grid&page='+page)= page
    li
      if pagination.next != false
        a(href=url+'page='+pagination.next+'&view='+viewStyle+'&duration='+duration aria-label="Next")
          span(aria-hidden="true") &raquo

mixin paginate-learning-object(pagination, url)
  ul.pagination.pull-right
    li
      if pagination.previous != false
        a(href=url+'specific='+filters.specificCommodity+'&isp='+filters.isp+'&sector='+filters.sector+'&industry='+filters.industry+'&page='+pagination.previous+'&view='+viewStyle+'&duration='+duration, aria-label="Previous")
          span(aria-hidden="true") &laquo
    each page in pagination.pages
      if page == pagination.currentPage
        li.active
          a(href=url+'specific='+filters.specificCommodity+'&isp='+filters.isp+'&sector='+filters.sector+'&industry='+filters.industry+'page='+page+'&view='+viewStyle+'&duration='+duration) #{page}
      else
        li
          a(href=url+'specific='+filters.specificCommodity+'&isp='+filters.isp+'&sector='+filters.sector+'&industry='+filters.industry+'view=grid&page='+page)= page
    li
      if pagination.next != false
        a(href=url+'specific='+filters.specificCommodity+'&isp='+filters.isp+'&sector='+filters.sector+'&industry='+filters.industry+'page='+pagination.next+'&view='+viewStyle+'&duration='+duration aria-label="Next")
          span(aria-hidden="true") &raquo


mixin paginate-generic(pagination, url)
  ul.pagination.pull-right
    li
      if pagination.previous != false
        a(href=url+'&page='+pagination.previous+'&view='+viewStyle, aria-label="Previous")
          span(aria-hidden="true") &laquo
    each page in pagination.pages
      if page == pagination.currentPage
        li.active
          a(href=url+'&page='+page+'&view='+viewStyle) #{page}
      else
        li
          a(href=url+'&view=grid&page='+page)= page
    li
      if pagination.next != false
        a(href=url+'&page='+pagination.next+'&view='+viewStyle aria-label="Next")
          span(aria-hidden="true") &raquo



mixin view-popular(action)
  ul.nav.navbar-nav.navbar-right
    li
      a(href=url+'&page='+page+'&view=grid'+'&duration='+duration)
        span(aria-hidden="true").glyphicon.glyphicon-th
    li
      a(href=url+'&page='+page+'&view=list'+'&duration='+duration)
        span(aria-hidden="true").glyphicon.glyphicon-th-list

mixin view-generic(action)
  ul.nav.navbar-nav.navbar-right
    li
      a(href=url+'&page='+page+'&view=grid')
        span(aria-hidden="true").glyphicon.glyphicon-th
    li
      a(href=url+'&page='+page+'&view=list')
        span(aria-hidden="true").glyphicon.glyphicon-th-list

mixin duration-popular(action)
  .dropdown
    button.btn.btn-default.dropdown-toggle(type='button', id='duration', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Popular this &emsp;
      span.caret
    ul.dropdown-menu(aria-labelledby='duration')
      li
        a(href=url+'&page='+page+'&view='+viewStyle+'&duration=day') day
      li
        a(href=url+'&page='+page+'&view='+viewStyle+'&duration=week') week
      li 
        a(href=url+'&page='+page+'&view='+viewStyle+'&duration=month') month

mixin sort-options(action)
  .dropdown
    button.btn.btn-default.dropdown-toggle(type='button', id='sort', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Sort by
      span.caret
    ul.dropdown-menu(aria-labelledby='sortBy')
      li
        a(href=url+'&view='+viewStyle+'&sort=titleAZ') Title A-Z
      li
        a(href=url+'&view='+viewStyle+'&sort=titleZA') Title Z-A
      li.divider(role='separator')
      li
        a(href=url+'&view='+viewStyle+'&sort=authorAZ') Author A-Z
      li
        a(href=url+'&view='+viewStyle+'&sort=authorZA') Author Z-A
      li.divider(role='separator')
      li
        a(href=url+'&view='+viewStyle+'&sort=dateNew') Published Date Newest
      li
        a(href=url+'&view='+viewStyle+'&sort=dateOld') Published Date Oldest
      
mixin filter-options(action)
  .input-group
    span.input-group-addon Filter
    input.form-control(id='filter', type='text', placeholder='Type here...')
  //- .dropdown
    button.btn.btn-default.dropdown-toggle(type='button', id='sort', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Filter by
      span.caret
    ul.dropdown-menu(aria-labelledby='filterBy')
      li
        a(href=url+'&view='+viewStyle+'&sort=author') Author
      li
        a(href=url+'&view='+viewStyle+'&sort=isp') ISP
      li
        a(href=url+'&view='+viewStyle+'&sort=sector') Sector
      li
        a(href=url+'&view='+viewStyle+'&sort=industry') Industry
        
      
mixin duration-sort-view
  ul.nav.nav-pills.pull-right
    li(role='presentation').dropdown
      a.dropdown-toggle(type='button', id='duration', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Popular this &emsp;
        span.caret
      ul.dropdown-menu(aria-labelledby='duration')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort='+sort+'&duration=day') day
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort='+sort+'&duration=week') week
        li 
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort='+sort+'&duration=month') month
    li(role='presentation').dropdown
      a.dropdown-toggle(type='button', id='sort', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true' role='button') Sort by
        span.caret
      ul.dropdown-menu(aria-labelledby='sortBy')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration+'&sort=titleAZ') Title A-Z
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration+'&sort=titleZA') Title Z-A
        li.divider(role='separator')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration+'&sort=authorAZ') Author A-Z
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration+'&sort=authorZA') Author Z-A
        li.divider(role='separator')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration+'&sort=dateNew') Newest
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration+'&sort=dateOld') Oldest
        li.divider(role='separator')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&duration='+duration+'&sort=none') No Order
    li(role='presentation')
      a(href=url+'&page='+page+'&duration='+duration+'&sort='+sort+'&view=grid')
        span(aria-hidden="true").glyphicon.glyphicon-th
    li(role='presentation')
      a(href=url+'&page='+page+'&duration='+duration+'&sort='+sort+'&view=list')
        span(aria-hidden="true").glyphicon.glyphicon-th-list
            
mixin sort-view
  ul.nav.nav-pills.pull-right
    li(role='presentation').dropdown
      a.dropdown-toggle(type='button', id='sort', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true' role='button') Sort by
        span.caret
      ul.dropdown-menu(aria-labelledby='sortBy')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort=titleAZ') Title A-Z
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort=titleZA') Title Z-A
        li.divider(role='separator')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort=authorAZ') Author A-Z
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort=authorZA') Author Z-A
        li.divider(role='separator')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort=dateNew') Newest
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort=dateOld') Oldest
        li.divider(role='separator')
        li
          a(href=url+'&page='+page+'&view='+viewStyle+'&sort=none') No Order
    li(role='presentation')
      a(href=url+'&page='+page+'&view=grid')
        span(aria-hidden="true").glyphicon.glyphicon-th
    li(role='presentation')
      a(href=url+'&page='+page+'&view=list')
        span(aria-hidden="true").glyphicon.glyphicon-th-list
            
               