extends ../../../layouts/admin-default

block content
    .row
        .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-2.main
            input.form-control(type='text', placeholder='Search..')
            button.btn.btn-success(type='button') Create Learning Object
            .table-responsive   
                table.table.table-striped
                    thead
                    tr
                        th Title
                        th Author
                        th One-paragrapth Description
                        th State
                        th Published At
                    tbody
                    each lo in locals.data.learning_objects
                        tr   
                            td 
                                a(href='#') #{lo.title}
                            td #{lo.author}
                            td #{lo.content.brief}
                            td #{lo.state}
                            td #{lo.publishedAt}
                    else
                        .jumbotron
                            h3 No data