extends ../../layouts/community

block content

  .community-body
    //- NAVBAR
    div#community-nav
      ol.breadcrumb.community-breadcrumb
        li
          a(href="/") Home
        li
          | Community

      #user-login-links
        if user
          //- if user.canAccessKeystone
            //- li: a(href='/keystone') Open Keystone
          span.user-name #{user.name.full}&nbsp;&nbsp;
          i.fa.fa-bell-o(aria-hidden="true")&nbsp;&nbsp;&nbsp;&nbsp;
          a(href='/keystone/signout', class="not-active login-link") Sign Out
        else
          a(href='/keystone/signin?from=/community', class="not-active login-link") Sign In

      //- ul.nav.navbar-nav.navbar-right
      //-   if user
      //-     if user.canAccessKeystone
      //-       li: a(href='/keystone') Open Keystone
      //-     li: a(href='/keystone/signout') Sign Out
      //-   else
      //-     li: a(href='/keystone/signin') Sign In

    //- END NAVBAR


    .container.margin-top
      .row
        .col-md-5
          h3
            i.fa.fa-comments-o(aria-hidden='true')
            | &nbsp;Discussion
          hr
          ul.list-group
            each training in trainings
              li.list-group-item
                a(href="#")
                  h4 #{training.title}
                | !{training.description.brief}
          a(href="#") More
          br
          br

          h3
            i.fa.fa-book(aria-hidden='true')
            | &nbsp;Publications
          hr
          ul.list-group
            each training in trainings
              li.list-group-item
                a(href="#")
                  h4 #{training.title}
                | !{training.description.brief}
          a(href="#") More
          br
          br

          h3
            i.fa.fa-comments-o(aria-hidden='true')
            | &nbsp;Multimedia
          hr
          ul.list-group
            each training in trainings
              li.list-group-item
                a(href="#")
                  h4 #{training.title}
                | !{training.description.brief}
          br
          br

        .col-md-5
          h3
            i.fa.fa-graduation-cap(aria-hidden='true')
            | &nbsp;Training
          hr
          ul.list-group
            each training in trainings
              li.list-group-item
                a(href="#")
                  h4 #{training.title}
                | !{training.description.brief}
          a(href="#") More
          br
          br

          h3
            i.fa.fa-graduation-cap(aria-hidden='true')
            | &nbsp;Blogs
          hr
          ul.list-group
            each training in trainings
              li.list-group-item
                a(href="#")
                  h4 #{training.title}
                | !{training.description.brief}
          a(href="#") More
          br
          br

          h3
            i.fa.fa-calendar(aria-hidden='true')
            | &nbsp;Events
          hr
          ul.list-group
            each event in events
              li.list-group-item
                a(href="#")
                  h4 #{event.title}
                | !{event.description.brief}
          a(href="#") More
          br
          br

          h3
            i.fa.fa-calendar(aria-hidden='true')
            | &nbsp;Support
          hr
          ul.list-group
            each event in events
              li.list-group-item
                a(href="#")
                  h4 #{event.title}
                | !{event.description.brief}
        .col-md-2