extends ../../layouts/community

block content

  .community-body
    #eresources-content
      .container
        .row
          .col-md-9
            .row
              each publication in publications
                .col-xs-12
                  img(src=publication._.cover.fit(100, 200, {}))
                  h3
                    small #{publication.get('title.trunc')}
                  p #{publication.description}

          .col-md-3
            .list-group
              li.list-group-item.list-group-item-header Industries
              each industry in industries
                a.list-group-item #{industry.name}
              li.list-group-item.list-group-item-header Sectors
              each sector in sectors
                a.list-group-item #{sector.name}
              li.list-group-item.list-group-item-header Commodities
              each commodity in commodities
                a.list-group-item #{commodity.name}