extends ../../../layouts/eresources

block content
  #public-content
    .container-fluid(style="padding: 80px 90.5px 0px 90.5px;")
      .wrapper
        .row
          .col-md-12
            h3 E-Resources Reports
          .col-md-6
            .panel.panel-default
              .panel-heading
                h3.panel-title Top Downloads
              table.table
                tr
                  th Title
                  th Publication Line
                  th Downloads
                each publication in topDownloads
                  tr
                    td #{publication.title}
                    td #{publication.publicationLine.name}
                    td #{publication.downloads}
              .panel-body
                .btn-group.btn-group-sm(role='group',aria-label='download-count')
                  a(href='/keystone/publications',type='button').btn.btn-default See All
                  a(href='/api/publications/reports/publications?cols=1010000000000000001',type='button').btn.btn-default Quick Download
          .col-md-6
            .panel.panel-default
              .panel-heading
                h3.panel-title Latest Reviews
              table.table
                tr
                  th Title
                  th User
                  th Date
                each review in latestReviews
                  tr
                    td #{review.publication.title}
                    td #{review.user.name.first} #{review.user.name.last}
                    td #{review.createdAt.toLocaleDateString()}
              .panel-body
                .btn-group.btn-group-sm(role='group',aria-label='download-count')
                  a(href='/keystone/publication-feedback',type='button').btn.btn-default See All
                  //- a(href='/api/publications/reports/downloads?cols=1010000000000000001',type='button').btn.btn-default Quick Download (This month's reviews)

          .col-md-12
            .panel.panel-default
              .panel-heading
                h3.panel-title Custom Reports
              .panel-body
                ul.list-group
                  li.list-group-item
                    a(href='/eresources/reports/publications') Publications
                  //- li.list-group-item
                    a(href='/eresources/reports/feedback') Publication Feedback (ALL)
                  li.list-group-item
                    a(href='/eresources/reports/feedback') Publication Feedback by Title
