extends ../../layouts/admin-default

block content

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        if data.path === '/admin/community-views'
            if data.community_views.length > 0
                .row
                    .col-md-6
                        input.form-control(type='text', placeholder='Search..')
                    .col-md-2
                        button.btn.btn-success(type='button', data-toggle='modal', data-target='#createCommunityView') Create Community View
                .table-responsive   
                    table.table.table-striped
                        thead
                        tr
                            th ID
                            th ip
                            th Time
                        tbody
                        each view in data.community_views
                            tr   
                                td 
                                    a(href='/admin/community-views/' + view._id) #{view._id}
                                td #{view.ip}
                                td #{view.time}
            else
                .jumbotron
                    h3 No Community View found
                    button.btn.btn-success(type='button', data-toggle='modal', data-target='#createCommunityView') Create Community View
        #createCommunityView.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createCommunityViewLabel')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close', onclick='window.location.reload();')
                                        span(aria-hidden='true') ×
                                    h4#createCommunityViewLabel.modal-title Create a new Community View
                                .modal-body
                                .modal-footer
                                    form.form-group.row(method='post', action='/admin/community-views')
                                        input(type='hidden', name='action', value='createCommunityView')
                                        button.btn.btn-primary(type='submit', name='createCommunityView') Create
                                        button.btn.btn-default(type='button', data-dismiss='modal', onclick='window.location.reload();') Close
        if data.path === '/admin/discussion-views'
            if data.discussion_views.length > 0
                .row
                        .col-md-6
                            input.form-control(type='text', placeholder='Search..')
                        .col-md-2
                            button.btn.btn-success(type='button', data-toggle='modal', data-target='#createDiscussionView') Create Discussion View 
                .table-responsive   
                    table.table.table-striped
                        thead
                        tr
                            th ID
                            th ip
                            th Time
                        tbody        
                        each view in data.discussion_views
                            tr   
                                td 
                                    a(href='/admin/discussion-views/' + view._id) #{view._id}
                                td #{view.ip}
                                td #{view.time}
            else
                .jumbotron
                    h3 No Discussion View found
                    button.btn.btn-success(type='button', data-toggle='modal', data-target='#createDiscussionView') Create Discussion View
        #createDiscussionView.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createDiscussionViewLabel')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close', onclick='window.location.reload();')
                                        span(aria-hidden='true') ×
                                    h4#createDiscussionViewLabel.modal-title Create a new Discussion View
                                .modal-body
                                .modal-footer
                                    form.form-group.row(method='post', action='/admin/discussion-views')
                                        input(type='hidden', name='action', value='createDiscussionView')
                                        button.btn.btn-primary(type='submit', name='createDiscussionView') Create
                                        button.btn.btn-default(type='button', data-dismiss='modal', onclick='window.location.reload();') Close 
        if data.path === '/admin/group-views'
            if data.group_views.length > 0
                .row
                        .col-md-6
                            input.form-control(type='text', placeholder='Search..')
                        .col-md-2
                            button.btn.btn-success(type='button', data-toggle='modal', data-target='#createGroupView') Create Group View 
                .table-responsive   
                    table.table.table-striped
                        thead
                        tr
                            th ID
                            th ip
                            th Time
                        tbody        
                        each view in data.group_views
                            tr   
                                td 
                                    a(href='/admin/group-views/' + view._id) #{view._id}
                                td #{view.ip}
                                td #{view.time}
            else
                .jumbotron
                    h3 No Group View found
                    button.btn.btn-success(type='button', data-toggle='modal', data-target='#createGroupView') Create Group View 
        #createGroupView.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createGroupViewLabel')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close', onclick='window.location.reload();')
                                        span(aria-hidden='true') ×
                                    h4#createGroupViewLabel.modal-title Create a new Group View
                                .modal-body
                                .modal-footer
                                    form.form-group.row(method='post', action='/admin/group-views')
                                        input(type='hidden', name='action', value='createGroupView')
                                        button.btn.btn-primary(type='submit', name='createGroupView') Create
                                        button.btn.btn-default(type='button', data-dismiss='modal', onclick='window.location.reload();') Close 
        if data.path === '/admin/report-views'
            if data.report_views.length > 0
                .row
                        .col-md-6
                            input.form-control(type='text', placeholder='Search..')
                        .col-md-2
                            button.btn.btn-success(type='button', data-toggle='modal', data-target='#createReportView') Create Report View 
                .table-responsive   
                    table.table.table-striped
                        thead
                        tr
                            th ID
                            th ip
                            th Time
                        tbody        
                        each view in data.report_views
                            tr   
                                td 
                                    a(href='/admin/report-views/' + view._id) #{view._id}
                                td #{view.ip}
                                td #{view.time}
            else
                .jumbotron
                    h3 No Report View found
                    button.btn.btn-success(type='button', data-toggle='modal', data-target='#createReportView') Create Report View 
        #createReportView.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createReportViewLabel')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close', onclick='window.location.reload();')
                                        span(aria-hidden='true') ×
                                    h4#createReportViewLabel.modal-title Create a new Report View
                                .modal-body
                                .modal-footer
                                    form.form-group.row(method='post', action='/admin/report-views')
                                        input(type='hidden', name='action', value='createReportView')
                                        button.btn.btn-primary(type='submit', name='createReportView') Create
                                        button.btn.btn-default(type='button', data-dismiss='modal', onclick='window.location.reload();') Close 

