extends ../../layouts/admin-default

block content
    .row
        .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
            form.form-group.row(method='post')
                input(type='hidden', name= 'action', value='editCourse')
                .row
                    .col-md-7
                        input.form-control.input-lg(type='text', value= data.courses.title, placeholder='Title')
                h5.help-block #{'ID: '+data.courses._id}
                .row
                    .col-md-7
                        label State
                        select.form-control
                            option #{data.courses.state}
                .row
                    .col-md-2
                        label Published Date
                        input.form-control(type='date',value=data.courses.publishedAt)
                    .col-md-2
                        label Published Time
                        input.form-control(type='time',value=data.courses.publishedAt)
                .row
                    .col-md-7
                        label One-paragraph Description
                        textarea.form-control(rows='4') #{data.courses.content.brief}
                .row
                    .col-md-7
                        label Full Description
                        textarea.form-control(rows='15') #{data.courses.content.extended}
                h4
                    label Meta
                .row
                    .col-md-1
                        label Created At
                    .col-md-2
                        mark #{data.courses.publishedAt}
                .row
                    .col-md-3
                        label Created By
                        p.bg-primary
                .row
                    .col-md-1
                        label Updated At
                    .col-md-2
                        mark #{data.courses.publishedAt}
                br
                br
                footer.footer
                    .container
                        button.btn.btn-primary(type='submit') Save
                        button.btn.btn-link(type='button', data-toggle='modal', data-target='#deleteCourse') Delete Course
            #deleteCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteCourseLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#deleteCourseLabel.modal-title #{'Are you sure you want to delete '+data.courses.title+'?'}
                        .modal-body
                            p This cannot be undone
                        .modal-footer
                            form.form-group.row(method='post', action='/admin/courses/'+data.courses._id)
                                input(type='hidden', name='action', value='deleteCourse')  
                                button.btn.btn-danger(type='submit', name='deleteCourse') Delete
                                button.btn.btn-default(type='button', data-dismiss='modal') Close
