extends ../../layouts/admin-default


block content

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-3.main 
        .row
            h3 #{data.elearning_visits._id}
        form.row
            .row
                .col-md-7
                    label IP
                    input.form-control(type='text', value=data.elearning_visits.ip)
            .row
                .col-md-7
                    label Country Code
                    input.form-control(type='text', value=data.elearning_visits.country_code)
            .row
                .col-md-7
                    label Region
                    input.form-control(type='text', value=data.elearning_visits.region)
            .row
                .col-md-7
                    label City
                    input.form-control(type='text', value=data.elearning_visits.city)
            .row
                .col-md-3
                    label Date Viewed
                    input.form-control(type='date', value=data.elearning_visits.dateViewed)
                .col-md-3
                    label Time Viewed
                    input.form-control(type='time')
            .row
                .col-md-3.col-md-offset-1
                    .checkbox
                        input(type='checkbox' checked= data.elearning_visits.isUser)
                        | is User
            .row
                h4 Meta
            .row
                .col-md-1
                    p CreatedAt
                .col-md-3
                    mark #{data.elearning_visits.createdAt}
            .row
                .col-md-1
                    p UpdatedAt
                .col-md-3
                    mark #{data.elearning_visits.updatedAt}
            button.btn.btn-primary(type='submit') Save
            button.btn.btn-link(type='button', data-toggle='modal', data-target='#deleteELearningVisit') Delete ELearning Visit
            #deleteELearningVisit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteELearningVisitLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#deleteELearningVisitLabel.modal-title #{'Are you sure you want to delete '+data.elearning_visits._id+'?'}
                        .modal-body
                            p This cannot be undone
                        .modal-footer
                            form.form-group.row(method='post', action='/admin/elearning-visits/'+data.elearning_visits._id)
                                input(type='hidden', name='action', value='deleteELearningVisit')  
                                button.btn.btn-danger(type='submit', name='deleteELearningVisit') Delete
                                button.btn.btn-default(type='button', data-dismiss='modal') Close