extends ../../layouts/admin-default

block content
    .row
        .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-2.main
            if data.path === '/admin/learning-objects'
                input.form-control(type='text', placeholder='Search..')
                button.btn.btn-success(type='button') Create Learning Object
                .table-responsive   
                    table.table.table-striped
                        thead
                        tr
                            th Title
                            th Author
                            th One-paragrapth Description
                            th State
                            th Published At
                        tbody
                        each lo in data.learning_objects
                            tr   
                                td 
                                    a(href='#') #{lo.title}
                                td #{lo.author}
                                td #{lo.content.brief}
                                td #{lo.state}
                                td #{lo.publishedAt}
                        else
                                    .jumbotron
                                        h3 No data
            if data.path === '/admin/course'
                input.form-control(type='text', placeholder='Search..')
                button.btn.btn-success(type='button') Create Learning Object
                .table-responsive   
                    table.table.table-striped
                        thead
                        tr
                            th Title
                            th One-paragrapth Description
                            th State
                            th Published At
                        tbody
                        each courses in data.courses
                            tr   
                                td 
                                    a(href='#') #{courses.title}
                                td #{courses.content.brief}
                                td #{courses.state}
                                td #{courses.publishedAt}
                        else
                            .jumbotron
                                h3 No data
            if data.path === '/admin/learning-contents'
                input.form-control(type='text', placeholder='Search..')
                button.btn.btn-success(type='button') Create Learning Object
                .table-responsive   
                    table.table.table-striped
                        thead
                        tr
                            th Title
                            th One-paragrapth Description
                            th State
                            th Published At
                        tbody
                        each contents in data.learning_contents
                            tr   
                                td 
                                    a(href='#') #{contents.title}
                                td #{contents.content.brief}
                                td #{contents.state}
                                td #{contents.publishedAt}
                        else
                            .jumbotron
                                h3 No data 
