extends ../../layouts/admin-default

block content
    .row
        .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
            form.form-group.row(method='post')
                input(type='hidden', name= 'action', value='editLearningContent')
                .row
                    .col-md-7
                        input.form-control.input-lg(type='text', value= data.learning_contents.title, placeholder='First name')
                h5.help-block #{'ID: '+data.learning_contents._id}
                .row
                    .col-md-7
                        label State
                        select.form-control
                            option #{data.learning_contents.state}
                .row
                    .col-md-2
                        label Published Date
                        input.form-control(type='date',value=data.learning_contents.publishedAt)
                    .col-md-2
                        label Published Time
                        input.form-control(type='time',value=data.learning_contents.publishedAt)
                .row
                    .col-md-7
                        label One-paragraph Description
                        textarea.form-control(rows='4') #{data.learning_contents.content.brief}
                .row
                    .col-md-7
                        label Full Description
                        textarea.form-control(rows='15') #{data.learning_contents.content.extended}
                h4
                    label Meta
                .row
                    .col-md-1
                        label Created At
                    .col-md-2
                        mark #{data.learning_contents.publishedAt}
                .row
                    .col-md-3
                        label Created By
                        p.bg-primary
                .row
                    .col-md-1
                        label Updated At
                    .col-md-2
                        mark #{data.learning_contents.publishedAt}
                button.btn.btn-primary(type='submit') Save
            form.form-group.row(method='post', action='/admin/learning-contents/'+data.learning_contents._id)
                input(type='hidden', name='action', value='deleteLearningContent')
                button.btn.btn-link(type='submit', name='deleteLearningContent') Delete Learning Content
