extends ../../layouts/admin-default

block content
    .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            if data.path === '/admin/publication-settings'
                if data.publication_settings.length > 0
                    .row
                        .col-md-6
                            input.form-control(type='text', placeholder='Search..')
                        .col-md-2
                            button.btn.btn-success(type='button') Create Publication Setting
                    .table-responsive   
                        table.table.table-striped
                            thead
                            tr
                                th Name
                            tbody
                            each pub in data.publication_settings
                                tr
                                    td 
                                        a(href='/admin/publication-settings/'+pub._id) #{pub.name}
                else
                    .jumbotron
                        h3 No Publication Setting found
                        button.btn.btn-success(type='button') Create Publication Setting
            if data.path === '/admin/publications'
                if data.publications.length > 0
                    .row
                        .col-md-6
                            input.form-control(type='text', placeholder='Search..')
                        .col-md-2
                            button.btn.btn-success(type='button') Create Publication
                    .table-responsive   
                        table.table.table-striped
                            thead
                            tr  
                                th Title
                                th Publication Line
                                th Publication Type
                                th Publication Year
                                th File
                                th Cover
                            tbody
                            each pub in data.publications
                                tr   
                                    td 
                                        a(href='/admin/publications/'+pub._id) #{pub.title}
                                    td #{pub.publicationLine}
                                    td #{pub.publicationType}
                                    td #{pub.publicationYear}
                                    td #{pub.file}
                                    td
                                        img.img-rounded(src=pub.cover)
                else
                    .jumbotron
                        h3 No Publication found
                        button.btn.btn-success(type='button') Create Publication
            if data.path === '/admin/publication-lines'
                if data.publication_lines.length > 0
                    .row
                        .col-md-6
                            input.form-control(type='text', placeholder='Search..')
                        .col-md-2
                            button.btn.btn-success(type='button') Create Publication Line
                    .table-responsive   
                        table.table.table-striped
                            thead
                            tr
                                th Name
                            tbody
                            each pub in data.publication_lines
                                tr   
                                    td 
                                        a(href='#') #{pub.name}
                else
                    .jumbotron
                        h3 No Publication Line
                        button Create Publication Line
            if data.path === '/admin/publication-feedback'
                if data.publication_feedback.length > 0
                    .row
                        .col-md-6
                            input.form-control(type='text', placeholder='Search..')
                        .col-md-2
                            button.btn.btn-success(type='button') Create Feedback
                    .table-responsive   
                        table.table.table-striped
                            thead
                            tr
                                th Title
                                th User
                                th createdAt
                            tbody
                            each pub in data.publication_feedback
                                tr
                                    td
                                        a(href='#') #{pub.title}
                                    td #{pub.user}
                                    td #{pub.createdAt}
                else
                    .jumbotron
                        h3 No Feedback
