extends ../../layouts/admin-default


block content

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-3.main 
        .row
            h3 #{data.report_views._id}
        .row
            .col-md-2
                p IP
            .col-md-3
                mark #{data.report_views.ip}
        .row
            .col-md-2
                p Time
            .col-md-3
                mark #{data.report_views.time}
        .row    
            .col-md-2
                p City
            .col-md-3
                mark #{data.report_views.city}
        .row    
            .col-md-2
                p Region
            .col-md-3   
                mark #{data.report_views.region}
        .row
            .col-md-2
                p Country
            .col-md-3    
                mark #{data.report_views.country}
        .row    
            .col-md-2
                p Loc
            .col-md-3    
                mark #{data.report_views.loc}
        form.form-group.row(method='post', action='/admin/report-views/'+data.report_views._id)
                input(type='hidden', name='action', value='deleteReportView')
                button.btn.btn-link(type='submit', name='deleteReportView') Delete Report View
