extends ../../layouts/admin-default

block content

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-3.main
        h2 #{data.user.name.first + ' ' + data.user.name.last}
        p.help-block #{'ID: '+data.user._id}
        br
        form.row(method="post", action='/admin/users/'+data.user._id)
            input(type='hidden', name= 'action', value='editUser')
            .row
                .col-md-3               
                    label First Name
                    input.form-control(type='text', value= data.user.name.first, placeholder='First name', name='first')
                .col-md-4
                    label Last Name :    
                    input.form-control(type='text', value= data.user.name.last, placeholder='Last name', name='last')
            .row
                .col-md-7
                    label Email
                    input.form-control(type='text', value= data.user.email, placeholder='Email', name='email')
            .row
                .col-md-5
                    label Password
                    button.btn.btn-primary(type='submit') Change Password
            
            label.custom-file Photo
                input#file.custom-file-input(type='file')
                span.custom-file-control
            .row
                h3 Elearning
                .col-md-7
                    label Learning Objects Taken
                    select.form-control
                        if data.user.learningObjectsTaken
                            option(selected='') #{data.user.learningObjectsTaken}
                        else
                            option(selected='') Select...
                        each lo,i in data.learning_objects
                            option(value=i) #{lo.title}
            .row
                .col-md-7
                    h4 Location
                    label Street Address
                    input.form-control(type='text', value= data.user.location.street1, placeholder='Street Address', name = 'streetAddress')
            .row
                .col-md-4
                    label Suburb
                    input.form-control(type='text', value= data.user.location.suburb, placeholder='Suburb', name = 'suburb')
                .col-md-3
                    label State
                    input.form-control(type='text', value= data.user.location.state, placeholder='State', name = 'state')
            .row
                .col-md-3
                    label Postcode
                    input.form-control(type='text', value= data.user.location.postcode, placeholder='Postcode', name= 'postcode')
                .col-md-4
                    label Country
                    input.form-control(type='text', value= data.user.location.country, placeholder='Country' , name='country')
            .row
                .col-md-7
                    label Consumer Type
                    select.form-control
                        option(selected='') #{data.user.consumerType}
            .row
                .col-md-2
                    label Birthday
                    input.form-control(type='date', value= data.user.birthday, name='birthday')
            .row
                .col-md-7
                    label Agency Affiliation
                    input.form-control(type='text', value= data.user.agencyAffiliation, placeholder='Agency Affiliation' , name='agencyAffiliation')
            .row
                .col-md-7
                    label Sex
                    select.form-control
                        option(selected='') #{data.user.sex}
            .row
                .col-md-7
                    label Contact Number
                    input.form-control(type='text', value= data.user.contactNumber, placeholder='Contact Number' , name='contactNumber')
            .row
                .col-md-1
                    label Permissions
                .col-md-3
                    .checkbox
                        input(type='checkbox' checked= data.user.isElearningAdmin, name = 'isElearningAdmin')
                        | Can Access Elearning Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isElearningUser)
                        | Can Access Elearning User
                    .checkbox
                        input(type='checkbox' checked= data.user.isPostsAdmin)
                        | Can access Posts Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isContentsAdmin)
                        | Can access Contents Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isPagesAdmin)
                        | Can access Pages Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isUsersAdmin)
                        | Can access Users Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isAnalyticsAdmin)
                        | Can access Analytics Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isCommunityAdmin)
                        | Can access Community Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isPublicationsAdmin)
                        | Can access Publications Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isPublicationsUser)
                        | Can access Publications Admin
                    .checkbox
                        input(type='checkbox' checked= data.user.isCategoriesAdmin)
                        | Can access Categories Admin
            .row
                .col-md-7
                    h4 Backlog
                    label Need Reviewing
                    select.form-control
                        if data.user.needsReviewing
                            option(selected='') #{data.user.needsReviewing}
                        else
                            option(selected='') Select...
                        each pub,i in data.publications
                            option(value=i) #{pub.title}
            button.btn.btn-primary(type='submit', name='editUser') Save
            button.btn.btn-link(type='button', data-toggle='modal', data-target='#deleteUser') Delete User
        #deleteUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteUserLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#deleteUserLabel.modal-title #{'Are you sure you want to delete '+data.user.name.first+' '+ data.user.name.last+'?'}
                    .modal-body
                        p This cannot be undone
                    .modal-footer
                        form.form-group.row(method='post', action='/admin/users/'+data.user._id)
                            input(type='hidden', name='action', value='deleteUser')  
                            button.btn.btn-danger(type='submit', name='deleteUser') Delete
                            button.btn.btn-default(type='button', data-dismiss='modal') Close        
                