extends ../../layouts/eresources

block css

block content

  #public-content
    .container-fluid(style="padding: 80px 90.5px 0px 90.5px;")
      .wrapper
        .row
          //- .section.col-md-12
            .section-title
              <span class='glyphicon glyphicon-calendar'></span>
              | Events
              .title-hr.col-xs-12

          .section.col-md-9(style="padding: 10px 16px;")
            //- .row(style="margin-bottom:1em").blue-black-seperator
            .section-title.focus.row
              .title.col-md-5.col-xs-4
                .skew.col-xs-12
                .skewed-text Latest Publications

            .section-content
              .row
                each publication in publications
                  .col-xs-4.col-md-2
                    .publication-col-grid
                      a(href="/eresources/publication/"+publication._id)
                        .cover
                          img(src=publication._.cover.fit(100, 180, {}))
                        .title
                          h3
                            small #{publication.get('title.trunc')}
                .col-xs-12.more-link
                  a(href="/eresources/publications", style="color: white;")
                    button.btn.btn-lg(style="background-color: #3062B7;" onMouseOver="this.style.color='#FFF'") More Publications


          .section.col-md-3
            .section-title Top Categories
              .title-hr.btm.col-xs-12
            .section-content
              .row
                //- if data.industries && data.industries.length
                each industry in data.industries
                    .col-xs-12
                      | #{industry.name} &nbsp;
                      span.badge #{industry.publicationCount}

          if links.length > 0
            .section.col-md-9(style="padding: 10px 16px;")
              //- .row(style="margin-bottom:1em").blue-black-seperator
              .section-title.focus.row
                .title.col-md-5.col-xs-4
                  .skew.col-xs-12
                  .skewed-text Links

              .section-content
                .row
                  each link in links
                    .col-xs-12.eresources-link
                      img(src=link._.image.fill(200, 150, {})).image
                      .data
                        .title
                          a(href=link.url) #{link.name}
                        .description #{link.description}
                  .col-xs-12.more-link
                    //- a(href="/eresources/links") More Links

          if videos.length > 0
            .section.col-md-9(style="padding: 10px 16px;")
              //- .row(style="margin-bottom:1em").blue-black-seperator
              .section-title.focus.row
                .title.col-md-5.col-xs-4
                  .skew.col-xs-12
                  .skewed-text Videos

              .section-content
                .row
                  each video in videos
                    .col-xs-12.eresources-video
                      //- img(src=link._.image.fill(200, 150, {})).image
                      iframe(width="355", height="200", src="https://www.youtube.com/embed/" + video.url + "?rel=0", frameborder=0, allowfullscreen).video
                      .data
                        .title
                          //- a(href=link.url) #{link.name}
                        .description #{video.description}
                  .col-xs-12.more-link
                    //- a(href="/eresources/links") More Links