extends ../../layouts/eresources

block css

block content

  #public-content
    .container-fluid
      .wrapper
        .row
          //- .section.col-md-12
            .section-title
              <span class='glyphicon glyphicon-calendar'></span>
              | Events
              .title-hr.col-xs-12

          .section.col-md-9(style="padding: 10px 16px;")
            //- .row(style="margin-bottom:1em").blue-black-seperator
            .section-title.focus.row
              .title.col-md-5.col-xs-4
                .skew.col-xs-12
                .skewed-text Latest Publications

            .section-content
              .row
                each publication in publications
                  .col-xs-4.col-md-2
                    .publication-col-grid
                      a(href="/eresources/publication/"+publication._id)
                        .cover
                          img(src=publication._.cover.fit(100, 180, {}))
                        .title
                          h3
                            small #{publication.get('title.trunc')}
                .col-xs-12.more-link
                  a(href="/eresources/publications", style="color: white;")
                    button.btn.btn-lg(style="background-color: #3062B7;" onMouseOver="this.style.backgroundColor='#3f7ef3'" onMouseLeave="this.style.backgroundColor='#3062B7'") More Publications

            if galleries.length > 0
              .section-title.focus.row
                .title.col-md-5.col-xs-4
                  .skew.col-xs-12
                  .skewed-text Galleries

              .section-content
                .row
                  each gallery in galleries
                    .col-xs-12.eresources-link
                      img(src=gallery._.heroImage.fill(200, 150, {})).image
                      .data
                        .title
                          a(href="/eresources/galleries/" + gallery._id) #{gallery.name}
                        .description #{gallery.description}
                  if galleries.length == 3
                    .col-xs-12.more-link
                      a(href="/eresources/galleries", style="color: white;")
                        button.btn.btn-lg(style="background-color: #3062B7;" onMouseOver="this.style.color='#FFF'") More Galleries

            if links.length > 0
              .section-title.focus.row
                .title.col-md-5.col-xs-4
                  .skew.col-xs-12
                  .skewed-text Links

              .section-content
                .row
                  each link in links
                    .col-xs-12.eresources-link
                      img(src=link._.image.fill(200, 150, {})).image
                      .data
                        .title
                          a(href=link.url) #{link.name}
                        .description #{link.description}
                  if links.length == 3
                    .col-xs-12.more-link
                      a(href="/eresources/links", style="color: white;")
                      button.btn.btn-lg(style="background-color: #3062B7;" onMouseOver="this.style.color='#FFF'") More Links

          .section.col-md-3
            if videos.length > 0
              .section-title Videos
              .section-content
                .row
                  each video in videos
                    .col-xs-12
                      iframe(width="100%", height="auto", src="https://www.youtube.com/embed/" + video.url + "?rel=0", frameborder=0, allowfullscreen).video
                      .data
                        .description #{video.description}
                  if videos.length == 3
                    .col-xs-12.more-link
                      a(href="/eresources/videos", style="color: white;")
                      button.btn.btn-lg(style="background-color: #3062B7;" onMouseOver="this.style.color='#FFF'") More Videos

            .section-title Top Categories
              .title-hr.btm.col-xs-12
            .section-content
              .row
                //- if data.industries && data.industries.length
                each industry in data.industries
                    .col-xs-12
                      | #{industry.name} &nbsp;
                      span.badge #{industry.publicationCount}