extends ../../layouts/eresources
include ../../mixins/flash-messages

block content

  #public-content
    .container-fluid(style="padding: 80px 90.5px 0px 90.5px;")
      .wrapper
        .row
          +flash-messages(messages)
          .col-md-3
            img(src=publication._.cover.fit(200, 360, {}))
            br
            br

            if user
              if needsReviewing && needsReviewing != currentPublicationID
                form(action='/eresources/feedback', method="POST")
                  input(type='hidden', name='publicationID', value=needsReviewing)
                  input(type='hidden', name='userID', value=userID)
                  input(type='hidden', name='redirect', value=redirect)
                  button.btn.btn-warning(type='submit') Rate Previous Download
              else if needsReviewing && needsReviewing == currentPublicationID
                a.btn.btn-success(href=publication.file.url,role="button",download) Re-Download
              else if clearedToDownload
                a.btn.btn-success(href=publication.file.url,role="button",download) Download
              else
                form(action=redirect,method='POST')
                  input(type='hidden',name='action',value='generate-download-link')
                  input(type='hidden',name='toReview',value=currentPublicationID)
                  input(type='hidden',name='publication',value=publication)
                  input(type='hidden', name='userID', value=user._id)
                  button.btn.btn-info(type='submit') Get Download Link
            else
              if redirect
                a.btn.btn-default(href='/keystone/signin?from=' + redirect) Log In to Access
              else
                a.btn.btn-default(href='/keystone/signin') Log In to Access
          .col-md-9
            h2
              | #{publication.title}
              //- .small #{publication.publicationType}

            p #{publication.description}

            //- br
            //- if publication.publisher
            //-   p
            //-     span.pub-field Publisher:&nbsp;
            //-     span.pub-value #{publication.publisher}

            //- if publication.publicationYear
            //-   p
            //-     span.pub-field Publication Year:&nbsp;
            //-     span.pub-value #{publication.publicationYear}

            //- if publication.publicationLine
            //-   p
            //-     span.pub-field Publication Line:&nbsp;
            //-     span.pub-value #{publication.publicationLine}

            //- if publication.technicalEditor
            //-   p
            //-     span.pub-field Technical Editor:&nbsp;
            //-     span.pub-value #{publication.technicalEditor}

            //- if publication.volumeEditor
            //-   p
            //-     span.pub-field Volume Editor:&nbsp;
            //-     span.pub-value #{publication.volumeEditor}

            //- if publication.layoutArtist
            //-   p
            //-     span.pub-field Layout Artist:&nbsp;
            //-     span.pub-value #{publication.layoutArtist}

            //- if publication.ISSN
            //-   p
            //-     span.pub-field ISSN:&nbsp;
            //-     span.pub-value #{publication.ISSN}

            //- if publication.ISBN
            //-   p
            //-     span.pub-field ISBN:&nbsp;
            //-     span.pub-value #{publication.ISBN}

            //- if publication.printer
            //-   p
            //-     span.pub-field Printer:&nbsp;
            //-     span.pub-value #{publication.printer}

            //- if publication.format
            //-   p
            //-     span.pub-field Format:&nbsp;
            //-     span.pub-value #{publication.format}

            //- if publication.numberOfPages
            //-   p
            //-     span.pub-field Number of Pages:&nbsp;
            //-     span.pub-value #{publication.numberOfPages}

            //- if publication.price
            //-   p
            //-     span.pub-field Price:&nbsp;
            //-     span.pub-value #{publication.price}
            br
            if publication.industry
              span.label.label-default #{publication.industry.name}
              | &nbsp;

            if publication.sector
              span.label.label-default #{publication.sector.name}
              | &nbsp;

            if publication.commodity
              span.label.label-default #{publication.commodity.name}
