extends ../../layouts/community

block content

  .community-body
    #eresources-content
      .container
        .row
          h2#publications-head
            | S&T to People
          #publications-desc
            p Through this Online Publication Database, PCAARRD offers you its wide array of publications, a testament to its effort and contribution to national development particularly in the agriculture, forestry, and natural resources sectors.
            br
          .col-md-12
            nav.navbar.navbar-default
              .container-fluid
                //- Mobile menu
                .navbar-header
                  button(type="button", data-toggle="collapse", aria-expanded="false", data-target="#publications-filter").navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  //- a(href="#").navbar-brand Brand?

                #publications-filter.collapse.navbar-collapse
                  ul.nav.navbar-nav

                    //- li
                      a(href='#') Link
                    //- li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | All
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='#') Title
                        li
                          a(href='#') Another action
                        li
                          a(href='#') Something else here
                        li.divider(role='separator')
                        li
                          a(href='#') Separated link
                        li.divider(role='separator')
                        li
                          a(href='#') One more separated link

                  form.navbar-form.navbar-left
                    //- button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").btn.btn-default.dropdown-toggle Industry&nbsp;
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href="#") Agriculture
                        a(href="#") Aquatic Resources
                        a(href="#") Cakes
                    .input-group
                      input(type="text",placeholder="Search...").form-control
                      span.input-group-btn
                        button(type="button").btn.btn-default.form-control Go

                  ul.nav.navbar-nav.navbar-right
                    li
                      // -var category
                      // if data.category == 'Industry'
                      //   -category = 'industry'
                      // else if data.category == 'Sector'
                      //   -category = 'sector'
                      // else if data.category == 'Commodity'
                      //   -category = 'commodity'
                      //- a(href='/eresources/publications?view=grid&'+category+'=#{'+category+'.key}')
                      a(href='/eresources/publications?view=grid&'+category+'=#{data.categoryResult}')
                        span(aria-hidden="true").glyphicon.glyphicon-th
                    li
                      a(href="/eresources/publications?view=list")
                        span(aria-hidden="true").glyphicon.glyphicon-th-list


          .col-md-9
            h4#publications-title
              | OFF THE PRESS
            block publications

          .col-md-3
            //- .list-group
            //-   li.list-group-item.list-group-item-header Industries
            //-   each industry in industries
            //-     a.list-group-item #{industry.name}
            //-   li.list-group-item.list-group-item-header Sectors
            //-   each sector in sectors
            //-     a.list-group-item #{sector.name}
            //-   li.list-group-item.list-group-item-header Commodities
            //-   each commodity in commodities
            //-     a.list-group-item #{commodity.name}
            form.navbar-form
              #accordion.panel-group
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
                      i.fa.fa-industry(aria-hidden='true')&nbsp; Industries
                #collapse1.panel-collapse.collapse
                  .panel-body.left-side-bar
                    each industry in industries
                      li(style='list-style-type:none;')
                      a(href='/eresources/publications?industry=#{industry.key}') #{industry.name}

                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
                      i.fa.fa-balance-scale(aria-hidden='true')&nbsp; Sectors
                #collapse2.panel-collapse.collapse
                  .panel-body.left-side-bar
                    each sector in sectors
                      li(style='list-style-type:none;')
                      a(href='/eresources/publications?sector=#{sector.key}') #{sector.name}

                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
                      i.i.fa.fa-leaf(aria-hidden='true', style='margin-right:10px;')&nbsp; Commodities
                #collapse3.panel-collapse.collapse
                  .panel-body.left-side-bar
                    each commodity in commodities
                      li(style='list-style-type:none;')
                      a(href='/eresources/publications?commodity=#{commodity.key}') #{commodity.name}
        //- .col-xs-12.col-md-9.pub-pager
        //-   nav(aria-label='...')
        //-     ul.pagination
        //-       li.disabled
        //-         a(href='#', aria-label='Previous')
        //-           span(aria-hidden='true') «
        //-       li.active
        //-         a(href='#')
        //-           | 1
        //-           span.sr-only (current)
        //-       li
        //-         a(href="#") 2
        //-       li
        //-         a(href="#") 3
        //-       li
        //-         a(href='#', aria-label='Next')
        //-           span(aria-hidden='true') »