.container-fluid
  .row.full-row
    .col-md-7.image
      a(href=news ? 'blog/post/'+news.slug: '/community')
        img(src=news && news.image ? news.image.secure_url: '').img-responsive.img-main
        if(news)
          .img-description
            span.badge.tag #{news.categories.name}
            p.title #{news.title}
            br
            p.description !{news.caption}
      
    .col-md-5.summary
      each article in commNews
        .col-md-12.sub-news
          a(href='blog/post/'+article.slug).image
            img(src=article.image.secure_url).img-responsive
            .img-description
              span.badge.tag #{article.categories.name}
              p.title !{article.title}
