.container-fluid
  .row.full-row
    .col-md-7.image
      a(href='blog/post/'+news.slug)
        img(src=news.image.secure_url).img-responsive.img-main
        .img-description
          span.badge.tag #{news.categories.name}
          p.title #{news.title}
          br
          p.description !{news.caption}
      
    .col-md-5.summary
      each article in commNews
        .col-md-12.sub-news
          a(href='blog/post/'+article.slug).image
            img(src=article.image.secure_url).img-responsive
            .img-description
              span.badge.tag #{article.categories.name}
              p.title !{article.title}
