.container-fluid
  .wrapper
    .row
      .section.col-md-3
        .section-title
          <span class='glyphicon glyphicon-calendar'></span>
          | Events
          .title-hr.col-xs-12
        .section-content
          if events.length
            each event in events
              .event.row
                a.event-date.col-xs-2.col-md-4(href="#")
                  p.day #{event._.startDate.format('DD')}
                  p.mon #{event._.startDate.format('MMM').toUpperCase()}
                .event-details.col-xs-10.col-md-8
                  p.text-muted AGRICULTURE
                  a(href="#") #{event.title} 
              hr
          else
            .row 
              .col-md-12
                br
                h4.empty.text-muted No upcoming events

      .section.col-md-6
        .section-title.focus.row 
          .title.col-md-5.col-xs-4
            .skew.col-xs-12
            .skewed-text Latest Blogs
        .section-content
          if blogPosts.length
            each blog in blogPosts
              .blog.row
                .blog-avatar
                  if blog.author.picture
                    a(href="#").author-image
                      //- Include image here
                      img(src='images/community/director-news.jpg').img-responsive
                  else
                    .glyphicon.glyphicon-user
                .blog-content
                  .content-header
                    h4
                      a(href="community/blogs/post/"+blog.slug).title #{blog.title}
                      
                    a(href="#").name.text-muted By #{blog.author.name.full} &nbsp
                    a(href="#").time-since.text-muted #{blog._.publishedDate.moment().fromNow()}
                  .content-body
                    - console.log(validationErrors)
                    p !{blog.content.brief}
              hr
          else
            .row 
              .col-md-12
                br
                h4.empty.text-muted No recent blogs
        br
        
        .section-title.focus.row 
          .title.col-md-5.col-xs-4
            .skew.col-xs-12
            a(href="/community/discussions" style="color: white").skewed-text Discussions
        .section-content
          if discussions.length
            each discussion in discussions
              .discussion.row
                .stat
                  .box
                    .count #{discussion.reactions[0].count}
                    div comments
                  .box
                    .count #{discussion.views.length}
                    div views
                .summary
                  h4
                    a(href=config.host + '/groups/' + discussion.groupBelonged + '/view-posts/question/' + discussion._id).title #{discussion.question}
                  span.badge.tag #{discussion.groupBelonged}
              hr
                
          else
            .row 
              .col-md-12
                br
                h4.empty.text-muted No ongoing discussions
            
      .section.col-md-3
        .section-title Join the Community
          .title-hr.btm.col-xs-12
        .section-content
          form(method="post").sign-up.row
            input(type="hidden" name="action" value="sign-up")
            .col-xs-6.col-md-12.col-lg-6(class=validationErrors.name ? 'has-error' : null)
              input(type="text" name="fname" placeholder="First Name" required).form-control
            .col-xs-6.col-md-12.col-lg-6
              input(type="text" name="lname" placeholder="Last Name" required).form-control
            .col-xs-12
              input(type="email" name="email" placeholder="Email Address" required).form-control
            .col-xs-12
              input(type="password" name="password" placeholder="Password" required).form-control
            .col-xs-12
              label Location
              input(type="text" name="street1" placeholder="Street Address(Optional)").form-control
            .col-xs-8.col-md-12.col-lg-8
              input(type="text" name="suburb" placeholder="City/Suburb" required).form-control
            .col-xs-4.col-md-12.col-lg-4
              input(type="text" name="state" placeholder="Province" required).form-control
            .col-xs-12
              label(for="datepicker-dropdown") Birthday
              include datepicker-dropdown.jade
            .col-xs-12
              label.radio-inline
                input(type="radio" name="sex" value="Male" checked)
                p Male
              label.radio-inline
                input(type="radio" name="sex" value="Female") 
                p Female
            .col-xs-12.submit
              button(type="submit").btn.btn-success Sign up
              p 
                | Already have an account?
                a(href="#") &nbspLog in
  
  .row
    .section.col-md-12 
      .section-title.focus.row 
        .title.col-md-2.col-xs-3
          .skew.col-xs-12
          #temp.skewed-text Top Groups
      .section-content
        if groups.length
          each industry in groups
            .row.groups
              .col-xs-12
                p.text-muted #{industry[0].classification.industry}
              each group in industry
                .media.col-lg-3
                  .media-left
                    a(href=config.host + '/groups/' + group.handle)
                      if group.photo
                        img(src=config.host + '/' + group.photo.path height='110px' width='110px').media-object
                      else
                        img(src="http://placehold.it/110x110").media-object
                  .media-body
                    a(href=config.host + '/groups/' + group.handle).media-heading
                      h4 #{group.name}
                    p.text-muted.text-small
                      | #{group.membersCount} members #{group.postsCount.total} posts
            hr
        else
          .row 
            .col-md-12
              br
              h4.empty.text-muted No Groups Available
        //- a(href="images/exhibit/abaca.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/abaca.jpg').photo.img-responsive
        //- a(href="images/exhibit/aquaculture.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/aquaculture.jpg').photo.img-responsive
        //- a(href="images/exhibit/bamboo.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/bamboo.jpg').photo.img-responsive
        //- a(href="images/exhibit/bigeyelet.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/bigeyelet.jpg').photo.img-responsive
        //- a(href="images/exhibit/biofloc.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/biofloc.jpg').photo.img-responsive
        //- a(href="images/exhibit/cacao.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/cacao.jpg').photo.img-responsive
        //- a(href="images/exhibit/cavendish.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/cavendish.jpg').photo.img-responsive
        //- a(href="images/exhibit/coco.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/coco.jpg').photo.img-responsive
        //- a(href="images/exhibit/coffee.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/coffee.jpg').photo.img-responsive
        //- a(href="images/exhibit/coral.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/coral.jpg').photo.img-responsive
        //- a(href="images/exhibit/cpgr.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/cpgr.jpg').photo.img-responsive
        //- a(href="images/exhibit/knifefish.jpg").col-md-2.col-sm-4.col-xs-6
        //-   .img-wrapper
        //-     img(src='images/exhibit/knifefish.jpg').photo.img-responsive
            
  #public-analytics.row
    .section.col-md-12
      .section-content.text-center
        br
        h2.text-center Analytics
        h4.text-center User activities are measured in order to optimze and enrich the experience of a social community.
        a(href="community/analytics")
          button.btn.btn-lg.btn-warning Learn More
        br
        br
