.container-fluid
  .wrapper
    .row
      .section.col-md-3
        .section-title
          <span class='glyphicon glyphicon-calendar'></span>
          | Events
          .title-hr.col-xs-12
        .section-content
          if events && events.length
            each event in events
              .event.row
                a.event-date.col-xs-2.col-md-4(href=host + '/groups/' + event.groupBelonged + '/view-posts/event/' + event._id)
                  p.day #{event.startDateTime.date}
                  p.mon #{event.startDateTime.month.toUpperCase()}
                .event-details.col-xs-10.col-md-8
                  p.text-muted #{event.groupBelonged.toUpperCase()} 
                  a(href=host + '/groups/' + event.groupBelonged + '/view-posts/event/' + event._id) #{event.eventName} 
              hr
          else
            .row 
              .col-md-12
                br
                h4.empty.text-muted No upcoming events

      .section.col-md-6(style="padding: 10px 16px;")
        .section-title.focus.row 
          .title.col-md-5.col-xs-4
            .skew.col-xs-12
            .skewed-text Incident Reports
        .section-content
          if blogPosts && blogPosts.length
            each blog in blogPosts
              .blog.row
                .blog-avatar
                  if blog.postedBy.photo
                    a(href="#").author-image
                      //- Include image here
                      img(src='images/community/director-news.jpg').img-responsive
                  else
                    .glyphicon.glyphicon-user
                .blog-content
                  .content-header
                    h4
                      a(href=host + '/groups/' + blog.groupBelonged + '/view-posts/report/' + blog._id).title #{blog.reportTitle}
                    a(href="#").name.text-muted By #{blog.postedBy.name} &nbsp
                    a(href="#").time-since.text-muted #{blog.datePosted}
                  .content-body
                    p !{blog.details}
              hr
          else
            .row 
              .col-md-12
                br
                h4.empty.text-muted No recent reports
        br
        
        .section-title.focus.row 
          .title.col-md-5.col-xs-4
            .skew.col-xs-12
            .skewed-text Discussions
        .section-content
          if discussions && discussions.length
            each discussion in discussions
              .discussion.row
                .stat
                  .box
                    .count #{discussion.reactions[0].count}
                    div comments
                  .box
                    .count #{discussion.views.length}
                    div views
                .summary
                  h4
                    a(href=host + '/groups/' + discussion.groupBelonged + '/view-posts/question/' + discussion._id).title #{discussion.question}
                  span.badge.tag #{discussion.groupBelonged}
              hr
                
          else
            .row 
              .col-md-12
                br
                h4.empty.text-muted No ongoing discussions
            
      .section.col-md-3
        .section-title Most Active Groups
          .title-hr.btm.col-xs-12
        .section-content
          .groups
            if groups && groups.length
              .list-group.row
                each industry in groups
                  if industry.length
                    each group in industry
                      .photo.col-md-6.pull-left
                        a(href=host + '/groups/' + group.handle)
                          if group.photo
                            img(src=group.photo.secure_url).img-responsive
                          else
                            img(src="http://placehold.it/120x120")
                        case group.classification.industry
                          when "Agriculture"
                            a.info-overlay(href=host + '/groups/' + group.handle style="background-color: rgba(18,81,4,0.8)").text-center
                              .category #{group.classification.industry}
                              h4.title #{group.name}
                              .summary.text-muted #{group.membersCount} members #{group.postsCount.total} posts
                          when "Aquatic Resources"
                            a.info-overlay(href=host + '/groups/' + group.handle style="background-color: rgba(48,98,183,0.8)").text-center
                              .category(href=host + '/groups/' + group.handle style="font-size: 12px;") #{group.classification.industry}
                              h4.title #{group.name}
                              .summary.text-muted #{group.membersCount} members #{group.postsCount.total} posts
                          when "Natural Resources"
                            a.info-overlay(href=host + '/groups/' + group.handle style="background-color: rgba(24,16,9,0.8)").text-center
                              .category(style="font-size: 12px;") #{group.classification.industry}
                              h4.title #{group.name}
                              .summary.text-muted #{group.membersCount} members #{group.postsCount.total} posts
                          default
                            a.info-overlay(href=host + '/groups/' + group.handle style="background-color: rgba(0,0,0,0.8)").text-center
                              .category #{group.classification.industry}
                              h4.title #{group.name}
                              .summary.text-muted #{group.membersCount} members #{group.postsCount.total} posts
              .row.text-center
                a(href=host + "/groups/" style="color: white;")
                  button.btn.btn-lg(style="background-color: #3062B7;" onMouseOver="this.style.color='#FFF'") More Groups
                br
                br
            else
              .row 
                .col-md-12
                  br
                  h4.empty.text-muted No Groups Available
          
  
  .row
    .section.col-md-12 
      .section-title.focus.row 
        .title.col-md-2.col-xs-3
          .skew.col-xs-12
          #temp.skewed-text Community Posts
      .announcements.section-content
        .tags
          span.badge.active(style="cursor: default;") #announcements
          span.badge.active(style="cursor: default;") #news
          if tags && tags.length
            each tag in tags
             span.badge #{'#'+tag.name}
        .board
          if discussions && discussions.length
            .grid
              .grid-sizer.col-sm-6.col-md-3
              - var i = 0;
              - var color = ''
              each announcement in announcements
                case announcement.industry
                  when "Agriculture"
                    - color = "#4CAF50"
                  when "Aquatic Resources"
                    - color = "#51abf1"
                  when "Natural Resources"
                    - color = "#614126"
                  default
                    - color = "#333"
                .announcement.grid-item.col-sm-6.col-md-3(data-toggle="modal" data-target="#modal"+i)
                  .grid-item-content(style="background-color:"+color)
                    .header
                      img(src="http://placehold.it/40x40").img-circle.pull-left
                      .author
                        span #{announcement.postedBy.name}
                        .time.text-small #{announcement.datePosted}
                    .title
                      span #{announcement.newsTitle}
                    .details #{announcement.newsBody}
                    .modal.fade(id="modal"+i tabindex="-1" data-backdrop="static" data-keyboard="false")
                      .modal-dialog.modal-lg
                        .modal-content
                          .row
                            button(type="button").close.pull-right &times;
                          .row
                            .col-sm-9
                              .modal-section
                                .row(style="margin-right: 22.5px;")
                                  i.social.fa.fa-thumbs-o-up.pull-left(style="margin-left: 30px;") &nbsp#{announcement.reactions[1].count}&nbsp
                                  i.social.fa.fa-comment-o.pull-left &nbsp#{announcement.reactions[0].count}&nbsp
                                  a(href=host + '/groups/' + announcement.groupBelonged).pull-right.btn.btn-default View Group
                                  a(href=host + '/groups/' + announcement.groupBelonged + '/view-posts/news/' + announcement._id).pull-right.btn.btn-default View Post
                                .content
                                  .post(style="background-color:"+color)
                                    .modal-title.text-center #{announcement.newsTitle}
                                    .modal-body #{announcement.newsBody}
                            .col-sm-3
                              .modal-section
                                .header
                                  img(src="http://placehold.it/40x40").img-circle.pull-left
                                  .author
                                    span #{announcement.postedBy.name}
                                    .time.text-small #{announcement.datePosted}
                              .modal-section
                                .hashtags
                                  p(style="margin-bottom: 10px;") Hashtags
                                  each tag in announcement.hashtags
                                    a.btn.btn-default.disabled(style="margin: 2.5px 5px 2.5px 0;") #{'#'+tag}
                    
                    hr
                    .social
                      i.fa.fa-thumbs-up &nbsp#{announcement.reactions[1].count}&nbsp
                      i.fa.fa-comment &nbsp#{announcement.reactions[0].count}&nbsp
                    - i += 1
  if user && user.canAccessKeystone
    #public-analytics.row
      .section.col-md-12
        .section-content.text-center
          br
          h2.text-center Analytics
          h4.text-center User activities are measured in order to optimze and enrich the experience of a social community.
          a(href="community/analytics")
            button.btn.btn-lg.btn-warning Learn More
          br
          br
  br
