#myCarousel.carousel.slide(data-ride="carousel")
  ol.carousel-indicators
    li(data-target="#myCarousel" data-slide-to="0").active
    li(data-target="#myCarousel" data-slide-to="1")
    li(data-target="#myCarousel" data-slide-to="2")
    li(data-target="#myCarousel" data-slide-to="4")

  .carousel-inner(role="listbox")
    .item.active
      img(src=config.host+"/groups/client/assets/images/community.jpg" alt="First slide").first-slide
      .container
        .carousel-caption(style="background-color: rgba(0, 39, 150, 0.4); margin: 0")
          h1(style="color: white") Strong Community
          p Build an interactive and solid community driven by powerful purpose, and united in achieving common goals.

    .item
      img(src=config.host+"/groups/client/assets/images/fruits-vegetables-collage.jpg" alt="Second slide").second-slide
      .container
        .carousel-caption(style="background-color: rgba(0, 39, 150, 0.6); margin: 0")
          h1(style="color: white") Plenty of Groups
          p There are groups under crops, livestocks, and a lot more already exist to fulfill your interests. Join in any of them. Or, you can join in all of them.
          p
            a.btn.btn-lg.btn-success(href=config.host+"/groups" role="button") See Groups

    .item
      img(src=config.host+"/groups/client/assets/images/engage-people-conversation.jpg" alt="Third slide").third-slide
      .container
        .carousel-caption(style="background-color: rgba(0, 39, 150, 0.6); margin: 0")
          h1(style="color: white").center-block Limitless Conversations
          p.center-block Engage in learning conversations with other people within your groups. Always try to post something nice and helpful.
          p
            a.btn.btn-lg.btn-success(href=config.host+"/register" role="button") See Groups

    .item
      #public-news.fourth-slide
        include public-news.jade
      .container
        .carousel-caption.news-item(style="background-color: rgba(0, 39, 150, 0.6);")
          h2(style="color: white; margin: 0 20px; text-align: left").center-block Latest news
          p(style="margin: 10px 20px;").center-block Always updated with what's happening.

  a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
    span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
    span.sr-only Previous
  a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
    span.sr-only Next

div(style="margin-top: 50px;")
  h3(style="text-align: center; font-weight: normal; margin-bottom: 0;")
    i(aria-hidden="true" style="margin-right: 5px;").fa.fa-briefcase
    | Main Features
    
div(style="margin-top: 10px;").marketing
  .features-list
    .main-feature
      div(style="margin: 20px auto 20px 0; background-color: white; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 0.5%; height: 90%; width: 95%; color: black;")
        h3(style="text-align: left; font-weight: normal; margin: 15px 10px;")
          i(aria-hidden="true" style="margin-right: 5px;").fa.fa-users
          | Virtual Spaces / Groups
        ul.list-group
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Groups are commodities from PCAARRD.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Groups are classified by industry, sector, ISP, and specific commodity.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Group members can react and comment on posts.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Group members can read private posts.

    .main-feature
      div(style="margin: 20px auto; background-color: white; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 0.5%; height: 90%; width: 95%; color: black;")
        h3(style="text-align: left; font-weight: normal; margin: 15px 10px;")
          i(aria-hidden="true" style="margin-right: 5px;").fa.fa-file-text
          | Categorized Posts
        ul.list-group
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Posts are categorized by Question, Incident Report, Event, Media, Advertisement, News, and Others.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Post's input fields depend on its category.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Posts can be viewed by category.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Posts analysis in every group is displayed.
    .main-feature
      div(style="margin: 20px 0 20px auto; background-color: white; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 0.5%; height: 90%; width: 95%; color: black;")
        h3(style="text-align: left; font-weight: normal; margin: 15px 10px;")
          i(aria-hidden="true" style="margin-right: 5px;").fa.fa-rss
          | Community Feed
        ul.list-group
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Community Feed is composed of latest posts from the joined groups.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Community Feed allows reacting to posts without going to the groups.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Posts can be viewed by category.
          li.list-group-item
            i(aria-hidden="true" style="margin-right: 5px;").fa.fa-check-square-o
            | Community Feed is always up-to-date.
