extends ../../layouts/elearning-analytics

block css
  link(rel="stylesheet" type="text/css" href="/styles/analytics.css")

mixin Most(mostpopular, mostcommented, mostreacted, numCourses, numLO, numUsers)
    .row
      .col-md-12.col-xs-12
        //h3.horizontalLabel Total Number of Vists
        div(id="allVisit")
      .col-md-8.col-xs-8
        div(id="userVisitsWorld")
        div(id="userViewByISP")
        //div(id="reactionsPieChart")
      .col-md-4.col-xs-4
        .panel.panel-info
          .panel-heading
            h4.panel-title MOST POPULAR
          .panel-body.bg-grey
            .media
              .media-left
                  img(src=mostpopular.thumbnail.exists ? mostpopular._.thumbnail.limit(50, 50) : 'http://placehold.it/50x50', width=50, height=50).img-circle
              .media-body
                h5=mostpopular.title
        .panel.panel-success
          .panel-heading
            h4.panel-title MOST COMMENTED
          .panel-body.bg-grey
            .media
              .media-left
                img(src=mostcommented.thumbnail.exists ? mostcommented._.thumbnail.limit(50, 50) : 'http://placehold.it/50x50', width=50, height=50).img-circle
              .media-body
                h5=mostcommented.title
        .panel.panel-warning
          .panel-heading
            h4.panel-title MOST REACTED
          .panel-body.bg-grey
            .media
              .media-left
                img(src=mostreacted.thumbnail.exists ? mostreacted._.thumbnail.limit(50, 50) : 'http://placehold.it/50x50', width=50, height=50).img-circle
              .media-body
                h5=mostreacted.title
        .well.well-sm.centered-panel
          span.glyphicon.glyphicon-book(aria-hidden='true')
          |  NUMBER OF COURSES: 
          span= numCourses
        .well.well-sm.centered-panel
          span.glyphicon.glyphicon-file(aria-hidden='true')
          |  NUMBER OF LEARNING OBJECTS: 
          span= numLO
        .well.well-sm.centered-panel
          span.glyphicon.glyphicon-user(aria-hidden='true')
          |  NUMBER OF USERS: 
          span= numUsers
        .well.well-sm.centered-panel
          span.glyphicon.glyphicon-user(aria-hidden='true')
          |  NUMBER OF VIEWS: 190918
        .well.well-sm.centered-panel
          span.glyphicon.glyphicon-user(aria-hidden='true')
          |  NUMBER OF REACTIONS: 2190
        .well.well-sm.centered-panel
          span.glyphicon.glyphicon-user(aria-hidden='true')
          |  NUMBER OF COMMENTS: 826
      .col-md-12.col-xs-12
        //h3.horizontalLabel Total Number of Vists
        div(id="allReactions")
      
block content
  .analytics-body
    .row
      .col-md-3.col-sm-4.dashboard
        .sidebar-nav
          .navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              span.visible-xs.navbar-brand Menu
            .navbar-collapse.collapse.sidebar-navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/elearning/analytics') Dashboard
                li
                  a(href='/elearning/analytics/learning-objects/allindustries') Analytics of Learning Objects
                li
                  a(href='/elearning/analytics/users') Analytics of Users
                li
                  a(href='/elearning/analytics/recommendedViews') Analytics of Recommended Learning Objects
      .col-md-9.col-sm-4.dashboard
        +Most(data.mostPopularLO, data.mostCommentedLO, data.mostReactedLO, data.numCourses, data.numLO, data.numUsers)
  //- script(src='/js/elearning-graphs/learningObjectReactions.js')
  //- script(src='/js/elearning-graphs/learningObjectCommentsViews.js')
 block js
  script(src='/js/elearning-graphs/dashboard-charts.js')
