extends ../../layouts/elearning-admin

block css
  link(rel="stylesheet" type="text/css" href="/styles/analytics.css")

mixin Views(currentUser, numLOTaken, numComments)
  .row
    .col-md-6.col-xs-6
      .well.well-sm.centered-panel
        |  LEARNING OBJECTS TAKEN: 
        span= numLOTaken
      div(id="userViewsGraph")
    .col-md-6.col-xs-6
      .well.well-sm.centered-panel
        |  TOTAL NUMBER OF COMMENTS: 
        span= numComments
      div(id="userCommentsGraph")

block content
  .analytics-body
    .row
      .col-md-3.col-sm-4.dashboard
        .sidebar-nav
          .navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              span.visible-xs.navbar-brand Menu
            .navbar-collapse.collapse.sidebar-navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/elearning/analytics') Dashboard
                li
                  a(href='/elearning/analytics/learning-objects/allindustries') Analytics of Learning Objects
                li.active
                  a(href='/elearning/analytics/users') Analytics of Users
                li
                  a(href='/elearning/analytics/recommendedViews') Analytics of Recommended Learning Objects
      .col-md-9.col-sm-4.dashboard
        .row
          .col-md-12.col-sm-6.user-prof
            .media
              .media-left
                img(src=data.currentUser.photo.exists ? data.currentUser._.photo.limit(80, 80) : 'http://placehold.it/80x80', width=80, height=80).img-circle
              .media-body
                h5 #{data.currentUser.name.first} #{data.currentUser.name.last}
                span= data.currentUser.email
        +Views(data.currentUser, data.numLOTaken, data.numComments)
  script(src='/js/elearning-graphs/eachUserAnalytics.js')