extends ../../layouts/default

mixin currentCourse-grid(course)
  .container-fluid
    .row
      h3= course.title
    .row
      if course.thumbnail.exists
        .col-md-8
          p= course.content.extended
        .col-md-4
          img(src=course._.thumbnail alt=course.title).img-rounded
      else
        p= course.content.extended
      br
    .row
    
      if course.outline.length
        .row.equal-height
          each chapter in course.outline
            .col-xs-6.col-md-3
              .thumbnail
                if chapter.thumbnail.exists
                  img.card-img-top(src=chapter.thumbnail alt="chapter.title")
                else if chapter.videoId
                  img.card-img-top(src='https://img.youtube.com/vi/'+ chapter.videoId +'/mqdefault.jpg', height="150px")
                else
                  img.card-img-top(src="/images/image-not-available-th.png" alt=chapter.title, height="150px")
                .caption
                  h3= chapter.title.substring(0, 50)
                  p= chapter.content.brief.substring(0, 100)
                  br
                  p
                    a.btn.btn-info.btn-block(href=chapter.url) Learn more
      else
        h3.text-muted There are no chapters yet.


mixin currentCourse-list(course)
  .container-fluid
    .row
      h3= course.title
    .row
      if course.thumbnail.exists
        .col-md-8
          p= course.content.extended
        .col-md-4
          img(src=course._.thumbnail alt=course.title).img-rounded
      else
        p= course.content.extended
      br
    .row
      if course.outline.length
        .col-md-10
          .panel
            table.table.table-hover
              thead
                th Chapters in #{course.title}

              tbody
                each chapter in course.outline
                  tr.media
                    td
                      .media-left
                        if chapter.thumbnail.exists
                          a(href=chapter.url)
                            img(src=chapter._.thumbnail.limit(64,64) alt=chapter.title).img-rounded.media-object
                        else
                          a(href=chapter.url)
                            img(src="/images/image-not-available.png" alt=course.title height="100px" width="100px").img-rounded.media-object
                      .media-body
                        a(href=chapter.url)
                          h4.media-heading= chapter.title
                          span= chapter.content.brief
      else
        h3.text-muted There are no chapters yet.

block search
  .container
    .row
      nav.navbar.navbar-default
        .container-fluid
          //- Mobile menu
          .navbar-header
            button(type="button", data-toggle="collapse", aria-expanded="false", data-target="#publications-filter").navbar-toggle.collapsed
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

          #publications-filter.collapse.navbar-collapse
            ul.nav.navbar-nav
            form.navbar-form.navbar-left
              .form-group
                input.form-control(type='text', placeholder='Search')
              button.btn.btn-default(type='submit') Submit
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/elearning/course/"+currslug+"?view=grid")
                  span(aria-hidden="true").glyphicon.glyphicon-th
              li
                a(href="/elearning/course/"+currslug+"?view=list")
                  span(aria-hidden="true").glyphicon.glyphicon-th-list


block content
  block search
  .container
    .panel.panel-default
      .panel-body
        if viewStyle == 'grid'
          +currentCourse-grid(data.currCourse)
        else
          +currentCourse-list(data.currCourse)
      .panel-footer
        p.text-right.
         Author: #{data.currCourse.author.name.last},  #{data.currCourse.author.name.first}
