extends ../../layouts/default

block css
	link(rel="stylesheet" type="text/css" href="/styles/elearning/elearning.css")

mixin course(course)
	.container-fluid
		.row
			.col-md-8.embed-responsive-item
				iframe(width="640", height="360", src="https://www.youtube.com/embed/"+course.videoId, frameborder="0" allowfullscreen)
			
		.row
			p.text-info Uploaded: &nbsp;
			p.text-info= course.publishedAt
			&nbsp;
			p.text-info | Author: Project SARAI
		.row
			p= course.content.extended
		
			br
		.row
			p Related: &nbsp;
			each tag in course.tags
				span.label.label-info= tag 
				&nbsp;
	
mixin courselist(courses)
	each course in courses
		.media
			.media-left
				if course.thumbnail.exists
					a(href=course.url) 
						img(src=course._.thumbnail.limit(100,100) alt="").img-rounded
				else 
					a(href=course.url)
						img(src="/images/image-not-available.png" alt=course.title height="100px" width="100px").img-rounded
			.media-body
				a(href=course.url) 
					h5=course.title
					span=course.content.brief.substring(0, 50	) 

			

block intro
	.container
		
block content
	.container
		.row
			.col-md-8
				.panel.panel-info
					.panel-body
						+course(data.course)

			.col-md-4
				.row
					.panel.panel-info
						.panel-heading Recommended Courses
						.panel-body
							+courselist(data.recommendedCourses)
				.row
					.panel.panel-info
						.panel-heading Other Courses
						.panel-body
							+courselist(data.courses)