extends ../../layouts/elearning

block css
  link(rel="stylesheet" type="text/css" href="/styles/course.css")

mixin allcourses-grid(courses)
  h2.text-center All Courses
  if courses.results.length
    .row.equal-height
      each course in courses.results
        .col-xs-6.col-md-3
          .thumbnail
            if course.thumbnail.exists
              img.card-img-top(src=course.thumbnail alt="course.title")
            else if course.videoId
              img.card-img-top(src='https://img.youtube.com/vi/'+ course.videoId +'/mqdefault.jpg', height="150px")
            else
              img.card-img-top(src="/images/image-not-available-th.png" alt=course.title, height="150px")
            .caption
              h3= course.title.substring(0, 50)
              p= course.content.brief.substring(0, 100)
              br
              p
                a.btn.btn-info.btn-block(href=course.url) Learn more
  else
    h3.text-muted There are no courses yet.
  ul.pagination.pull-right
    li
      a(href="/elearning/courses?view=grid&page="+courses.previous aria-label="Previous")
        span(aria-hidden="true")&laquo
    each page in courses.pages
      if page==courses.currentPage
        li.active
          a(href="/elearning/courses?view=grid&page="+page)= page
      else
        li
          a(href="/elearning/courses?view=grid&page="+page)= page

    li
      a(href="/elearning/courses?view=grid&page="+courses.next aria-label="Next")
        span(aria-hidden="true")&raquo


mixin allcourses-list(courses)
  h2.text-center All Courses
  if courses.results.length
    .row
      .col-md-10
        .panel
          table.table.table-hover
            thead
            tbody
              each course in courses.results
                tr.media
                  td
                    .media-left
                      if course.thumbnail.exists
                        a(href=course.url)
                          img(src=course._.thumbnail.limit(64,64) alt=chapter.title).img-rounded.media-object
                      else
                        a(href=course.url)
                          img(src="/images/image-not-available.png" alt=course.title height="100px" width="100px").img-rounded.media-object
                    .media-body
                      a(href=course.url)
                        h4.media-heading= course.title
                        span= course.content.brief

  else
    h3.text-muted There are no courses yet.
  ul.pagination.pull-right
    li
      a(href="/elearning/courses?view=list&page="+courses.previous aria-label="Previous")
        span(aria-hidden="true")&laquo
    each page in courses.pages
      if page==courses.currentPage
        li.active
          a(href="/elearning/courses?view=list&page="+page)= page
      else
        li
          a(href="/elearning/courses?view=list&page="+page)= page

    li
      a(href="/elearning/courses?view=list&page="+courses.next aria-label="Next")
        span(aria-hidden="true")&raquo



mixin search(courses)
  .container
    .row
      nav.navbar.navbar-default
        .container-fluid
          //- Mobile menu
          .navbar-header
            button(type="button", data-toggle="collapse", aria-expanded="false", data-target="#publications-filter").navbar-toggle.collapsed
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

          #publications-filter.collapse.navbar-collapse
            ul.nav.navbar-nav
            form.navbar-form.navbar-left
              .form-group
                input.form-control(type='text', placeholder='Search')
              button.btn.btn-default(type='submit') Submit
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/elearning/courses?view=grid&page="+courses.currentPage)
                  span(aria-hidden="true").glyphicon.glyphicon-th
              li
                a(href="/elearning/courses?view=list&page="+courses.currentPage)
                  span(aria-hidden="true").glyphicon.glyphicon-th-list

block content
  +search(data.courses)
  .container
    .panel.panel-default
      .panel-body
        if viewStyle == 'grid'
          +allcourses-grid(data.courses)
        else
          +allcourses-list(data.courses)

