extends ../../layouts/elearning

block js

mixin userPanel(user)
  .media
    .media-body
      .media-heading
        h2 #{user.name.full}'s Elearning Activity
        
    .media-right
      if user._.photo.exists
        img(src=user._.photo.limit(100,100), alt=user.name.full, width='100', height='100').img-rounded.media-object
      else
        img(src='http://placehold.it/100x100', alt='No Available Photo', width='100', height='100').img-rounded.media-object

mixin loTaken(loviews)
  if loviews.results.length
    .list-group
      each loview in loviews.results
        a(href=loview.learningObject.url).list-group-item
          .media
            .media-left
              if loview.learningObject._.thumbnail
                img(src=loview.learningObject._.thumbnail.limit(118,90), alt=loview.learningObject.title, width='118', height='90').img-rounded.media-object
              else
                img(src='http://placehold.it/118x90', alt='No Available Photo', width='118', height='90').img-rounded.media-object
            .media-body
              h4.media-heading.text-primary #{loview.learningObject.title}
              p #{loview.learningObject.content.brief}
              span.pull-right.text-info Viewed on #{loview.dateViewed.toDateString()} at #{loview.dateViewed.toLocaleTimeString()}.
  else
    a(href='/elearning') You have not taken any lessons yet.

  ul.pagination.pull-right
    li
      a(href='/profile/elearning/user-activity?viewPage='+loviews.previous)
        span(aria-hidden="true") &laquo
    each page in loviews.pages
      if page==loviews.currentPage
        li.active
          a(href="/profile/elearning/user-activity?viewPage="+page)= page
      else
        li
          a(href="/profile/elearning/user-activity?viewPage="+page)= page
    li
      a(href="/profile/elearning/user-activity?viewPage="+loviews.next aria-label="Next")
        span(aria-hidden="true") &raquo

mixin liked(likedLO)
  if likedLO.results.length
    .list-group
      each liked in likedLO.results
        a(href=liked.url)
          .list-group-item
            .media
              .media-left
                if liked._.thumbnail
                  img(src=liked._.thumbnail.limit(118,90), alt=liked.title, width='118', height='90').img-rounded.media-object
                else
                  img(src='http://placehold.it/118x90', alt='No Available Photo', width='118', height='90').img-rounded.media-object
              .media-body
                h4.media-heading.text-primary #{liked.title}
                p #{liked.content.brief}
                
  else
    a(href='/elearning') You have not liked any lessons yet.

  ul.pagination.pull-right
    li
      a(href='/profile/elearning/user-activity?likePage='+likedLO.previous)
        span(aria-hidden="true") &laquo
    each page in likedLO.pages
      if page==likedLO.currentPage
        li.active
          a(href="/profile/elearning/user-activity?likePage="+page)= page
      else
        li
          a(href="/profile/elearning/user-activity?likePage="+page)= page
    li
      a(href="/profile/elearning/user-activity?likePage="+likedLO.next aria-label="Next")
        span(aria-hidden="true") &raquo

block sidenavigation
  .panel-group(id='accordion', role='tablist', aria-multiselectable='true')
    .panel.panel-default
      .panel-heading(role='tab', id='headingProfile')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseProfile', aria-expanded='true', aria-controls='collapseProfile') Profile
      .panel-collapse.collapse(id='collapseProfile', role='tabpanel', aria-labelledby='headingProfile')
        .list-group
          li.list-group-item
            a(href='/profile') View Profile

    .panel.panel-default
      .panel-heading(role='tab', id='headingUserActivity')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseUserActivity', aria-expanded='true', aria-controls='collapseUserActivity') Elearning User Activity
      .panel-collapse.collapse.in(id='collapseUserActivity', role='tabpanel', aria-labelledby='headingUserActivity')
        .list-group
          li.list-group-item
            a(href='/profile/elearning/user-activity?nav=views') Viewed Lessons
          li.list-group-item
            a(href='/profile/elearning/user-activity?nav=likes') Liked Lessons
          li.list-group-item
            a(href='/profile/elearning/user-activity?nav=happy') Lessons with Happy Reacts
          li.list-group-item
            a(href='/profile/elearning/user-activity?nav=sad') Lessons with Sad Reacts 

block content
  .row
    .col-md-3.col-sm-4.dashboard
      block sidenavigation        
    .col-md-9.col-sm-4.dashboard
      if user
        .elearning-page-header
          h3 #{user.name.full}'s Elearning Activity
        .col-xs-12.col-md-10.col-md-offset-1
          if nav == 'views'
            .panel.panel-info
              .panel-heading Views
              .panel-body
                +loTaken(user.loviews)
                
        //- .col-xs-12.col-md-6
          .panel.panel-info
            .panel-heading Likes
            .panel-body
              +liked(user.likedLO)
      else
        a(href='/keystone/signin') Please log-in to view User Activity


